.CSCGroupLogContainer {
  /* display: flex;
  align-items: flex-start;
  color: var(--base-font-color);
  border-radius: 4px;
  text-align: left;
  height: 100%;
  flex-direction: column; */

  /* display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content minmax(0, min-content);
  align-items: flex-start;
  color: var(--base-font-color);
  border-radius: 4px;
  text-align: left;
  height: calc(100% - 2em);
  flex-direction: column;
  color: var(--secondary-font-color); */

  overflow: auto;
  will-change: transform;
  height: 100%;
}

.logContainer {
  padding: 1em 0;
  flex-grow: 1;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.topBarContainerWrapper {
  display: flex;
  width: 100%;
}

.topBarContainer {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  font-weight: bold;
  padding-bottom: 0.5em;
  border-bottom: solid var(--second-quinary-background-color) 1px;
}

.topBarContainer span {
  vertical-align: middle;
}

.messageTopSection {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.sourceCSC {
  background: var(--second-quaternary-background-color);
  border-radius: 4px;
  align-self: center;
  padding: 0.35em 0.5em;
  color: var(--base-font-color);
  font-weight: bold;
  font-size: var(--font-size-small);
}

.timestamp {
  align-self: flex-end;
  color: var(--secondary-font-color);
  text-align: right;
  padding-left: 1em;
}

.messageTextContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.CSCGroupContainer {
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  padding: 1em 0em;
  background: var(--second-secondary-background-color);
  overflow: auto;
}

.CSCExpandedContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--base-font-color);
  border-radius: 4px;
  text-align: left;
  height: 100%;
  min-height: 32em;
  min-width: 24em;
}

.logContainerTopBar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5em;
}

.log {
  border-radius: 5px;
  overflow-y: scroll;
}

.logMessage {
  display: flex;
  word-wrap: break-word;
  background: var(--second-tertiary-background-color);
  margin: 0.5em;
  border-radius: 5px;
}

.logMessage:last-child {
  border-bottom: none;
}

.messageIcon {
  width: 1em;
  min-width: 1em;
  padding: 0.5em;
  text-align: center;
  user-select: none;
}

.messageText {
  padding-bottom: 0.5em;
  word-break: break-all;
}

.messageTraceback {
  word-break: break-all;
}

.errorCodeContainer {
  flex-grow: 0;
}

.errorCode {
  font-weight: bold;
  width: 1.5em;
  min-width: 1.5em;
  padding: 0.5em;
  font-size: var(--font-size-large);
  text-align: center;
  user-select: none;
}

.filtersContainer {
  display: flex;
  justify-content: space-evenly;
}

.filtersContainer label {
  user-select: none;
}

.filtersContainer input[type='checkbox'] {
  transform: scale(1.3);
  vertical-align: middle;
  padding: 1em;
}

.filtersContainer span {
  display: inline-block;
  padding: 0.5em 0.5em;
}

.alert {
  background: var(--status-alert-color);
  color: var(--second-tertiary-background-color);
}

.ok {
  background: var(--status-ok-color);
  color: var(--second-tertiary-background-color);
}

.disabled {
  background: var(--status-disabled-dimmed-color-2);
  color: var(--second-quinary-background-color);
}

.warning {
  background: var(--status-warning-color);
  color: var(--second-tertiary-background-color);
}

.cardTitleContainer {
  display: flex;
  flex-wrap: wrap;
}

.iconWrapper {
  width: 1em;
  padding-right: 0.3em;
}

.iconWrapper svg {
  vertical-align: text-bottom;
}

.highlight {
  color: var(--base-font-color);
}

.cardTitleContainer span:first-child {
  padding-right: 0.3em;
}

.separator {
  padding: 0.3em;
  transform: translateY(0.2em);
}

.innerSeparator {
  border-top: 1px solid var(--default-background-color);
  padding: 0.3em;
  transform: translateY(0.2em);
}

.card {
  font-size: var(--font-size-medium);
  padding: 0.8em;
  margin: 0.2em 0em;
}

.cardList {
  padding: 0 0.8em;
  padding-bottom: 1em;
}

.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-end;
  margin-right: 2rem;
  margin-bottom: 0.5rem;
}

.filterLabel {
  margin-right: 0.3rem;
}

.title {
  padding-top: 0.5em;
}
