.container {
    display: grid;
    grid-template-columns: 2.5em max-content;
    column-gap: 0.5em;
}

.iconContainer {
    padding: 0.1em;
}

.highlight {
  color: var(--highlighted-font-color);
  font-weight: 500;
}

.secondary {
  color: var(--secondary-font-color);
}
