/*--------- PANEL ---------*/
/*DEFAULT*/
.panel {
  background-color: var(--second-primary-background-color);
  border: 1px solid hsl(199, 43%, 16%);
  border-radius: 6px;
  width: 100%;
  display: grid;
  grid-template-rows: 2em minmax(1em, 1fr);
  box-sizing: border-box;
  overflow: auto;
}

.noTitle {
  grid-template-rows: minmax(1em, 1fr);
  border: none;
}

.fit {
  width: fit-content;
  max-height: 100vh;
  overflow: visible;
}

.expandHeight {
  height: 100%;
}

.panelHeading {
  display: grid;
  grid-template-columns: auto min-content;
  align-content: space-around;
  color: var(--secondary-font-color);
  font-weight: 300;
  border-bottom: none;
  border-radius: 6px;
}

.panelTitle {
  text-transform: uppercase;
  text-align: left;
  font-size: 16px;
  margin: 0;
  line-height: 1.1;
  display: inline-block;
  padding-top: 10px;
  padding-left: 15px;
}

.panelBody {
  border-top-left-radius: 8px;
  border-top: 1px solid var(--secondary-font-color);
  padding: 0.5em;
  margin: 0px 8px;
  color: var(--secondary-font-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}

.noTitle .panelBody{
  border: none;
}

.panelButtonWrapper {
  display: grid;
  justify-content: center;
  padding-right: 0.5em;
  grid-template-rows: 1fr;
  grid-template-columns: 5em;
  grid-auto-flow: column;
  grid-column-gap: 0.2em;
  padding: 0.2em;
  margin-right: 0.5em;
}

.panelTwoButtonsWrapper {
  grid-template-columns: 5em 1.5em;
  margin-right: 1.5em;
}

.panelButton {
  color: var(--default-font-color);
  background-color: var(--second-primary-background-color);
  border: 1px solid var(--default-background-color);
  line-height: 1;
}

.horizontalFlip {
  transform: scaleX(-1);
}
