.port {
  width: 16px;
  height: 16px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  cursor: pointer;
}

.port:hover {
  background: rgba(0, 0, 0, 1);
}

.node {
  background-color: var(--second-primary-background-color);
  border: 1px solid hsl(199, 43%, 16%);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}


.selected {
  border: 2px solid var(--default-background-color);
}