
.summaryPanelControls {
  max-width: 100%;
  background: var(--second-quaternary-background-dimmed-color);
  padding: 1em;
}

.title {
  text-align: left;
  margin: 0;
  font-weight: bold;
  color: white;
}

.summaryPanelControls > .controls {
  width: 100%;
  text-align: left;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 3rem;
  /* display: flex; */

}

.summaryPanelControls > .controls > .control {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 2rem;
  grid-row-gap: 0.5rem;
  margin-top: 0.1rem;
  align-items: baseline;
}

.summaryPanelControls > .controls > .control > span {
  margin-bottom: 0.5em;
  display: block;
}

.summaryPanelControls > .controls > div {
  margin-right: 1em;
}

.summaryState {
  border-radius: 1rem;
  font-weight: 700;
  text-align: center;
  width: 8em;
  margin-bottom: 2px;
}


