.scriptListWrapper {
  padding: 0.5em;
  padding-bottom: 0;
  background: var(--second-secondary-background-color);
  height: calc(100% - 1em);
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 5px;
  will-change: transform;
}

.scriptListContainer {
  background: var(--second-secondary-background-color);
  padding: 0.25em;
  height: calc(100% - 0.5em);
}

.noOverflow {
  overflow-y: initial;
}

/* width */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--tertiary-background-color); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: var(--quinary-background-color); */
  background: var(--tertiary-font-color);
  border-radius: 1.1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-font-color);
}