.modal {
  background: yellow;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  overflow: auto;
  webkit-overflow-scrolling: touch;
  borderRadius: 4px;
  outline: none;
  padding: 20px;
}
