.modal {
  background-color: var(--secondary-background-color);
  border: 1px solid hsl(199, 43%, 16%);
  border-radius: 10px;
  position: absolute;
  top: 5em;
  left: 5em;
  right: 5em;
  bottom: 5em;
  overflow: auto;
  webkit-overflow-scrolling: touch;
  borderRadius: 4px;
  outline: none;
  padding: 1em 0.5em 0.5em 0.5em;
}

.overlay {
  background-color: var(--overlay-background-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  backdrop-filter: blur(2px);
  -o-backdrop-filter: blur(2px);
  -ms-backdrop-filter: blur(2px);
  -moz-backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.content {
  padding: 0 1em 1em 1em;
}

.topbar {
  display: inline-flex;
  width: 100%;
  justify-content: flex-end;
}
