.container {
  display: flex;
  flex-flow: row wrap;
  height: fit-content;
}

.group {
  display: flex;
  flex-flow: row wrap;
  height: fit-content;
}

.clockWrapper {
  border: 1px solid red;
}

.title {
  font-weight: bolder;
  color: var(--base-font-color);
  font-size: 0.9em;
  padding-bottom: 0.1em;
}