.container {
  display: flex;
  flex-flow: row wrap;
  height: fit-content;
  justify-content: center;
}

.group {
  display: flex;
  flex-flow: row wrap;
  height: fit-content;
  justify-content: center;
}

.clockWrapper {
  padding: 0.5em;
  /* border: 1px solid red; */
}