.container {
  display: flex;
  flex-flow: row wrap;
  height: fit-content;
  justify-content: center;
}

.group {
  display: flex;
  flex-flow: row wrap;
  height: fit-content;
  justify-content: center;
}

.clockWrapper {
  padding: 0.5em;
  /* border: 1px solid red; */
}

.title {
  font-weight: bolder;
  color: var(--base-font-color);
  font-size: 0.9em;
  padding-bottom: 0.1em;
}

.analog {
  min-width: 12em;
}