.coleContainer {
    display: inline-block;
    flex-direction: column;
    margin: 5px;
    height: 100%; 
    width: 500px; 
    margin-top: 0.5em;

}

.oleContainer .oleContent {
    color: #96a3b3;
    background: var(--theme-div-background);
    margin: 5px;
    height: 100%;
    width: 500px;
    margin-top: 0;
    padding-right: 5px;
    padding-left: 20px;
}

.oleh3 {
    align-self: flex-start;
    width: fit-content;
}
