.superContainer {
    position:relative;
    width: 100%;
}

.filterContainer {
    position: absolute;
    background-color: var(--quinary-background-color);
    width: 100%;
    padding: 0.5em;
    right: -0.5em;
    border-radius: 4px 0 4px 4px;
    box-shadow: -5px 4px 3px -1px var(--box-shadow-color);
}
.show {
    display:block;    
    text-align: left;
}

.hide {
    display: none;
}

.filterInput {
    width: 100%;
    box-sizing: border-box;
    background: var(--base-font-color);
    border: none;
    border-radius: 3px;
}

.filterText {
}

.sortOption {
    padding: 0.3em 1em;
}

.dialogRow {
    padding: 0.5em 0.5em;
    font-size: 0.8em;
}

.dialogRowTitle {
    padding: 0.5em 0em;
}

.mouseOver{
    background-color: var(--secondary-font-dimmed-color);
    cursor: pointer;
}