.superContainer{
    position:relative;
    width: 120%;
}

.filterContainer {
    position: absolute;
    background-color:red;
    width: 100%;
    display:block;
    padding-bottom: 10%;
    left:10%;
}


.filterInput{
    width: 80%;
    box-sizing: border-box;
}