.heartbeatIcon {
  display: inline-block;
  vertical-align: top;
  fill: var(--status-disabled-color);
  stroke: var(--status-disabled-color);
  margin: 0.1em;
}

.okStatus {
  fill: var(--status-ok-color);
  stroke: var(--status-ok-color);
}

.alertStatus {
  fill: var(--status-alert-color);
  stroke: var(--status-alert-color);
}
