.heartbeatIcon {
  display: inline-block;
  vertical-align: top;
  fill: var(--status-disabled-color);
}

.okStatus {
  fill: var(--status-ok-color);
}

.alertStatus {
  fill: var(--status-alert-color);
}
