.alarmContainer {
    display: grid;
    grid-template-columns: 8em 2.75em 2em;
    grid-column-gap: 1em;
    justify-content: center;
}

.ackContainer {
    display: grid;
    grid-template-columns: 2em 0.55em;
    grid-column-gap: 0.2em;
}