.alarmContainer {
    display: grid;
    grid-template-columns: 8.85em 4em;
    grid-column-gap: 0.5em;
    justify-content: center;
}

.statusOnly {
    grid-template-columns: 8.85em;
}

.statusContainer {
  display: grid;
  grid-template-columns: 8em 0.55em;
  grid-column-gap: 0.3em;
}
