.container {
    border-radius: 0.5em;
    box-sizing: border-box;
    width: 100%;
    display: inline-grid;
    align-content: flex-start;
    background-color: var(--second-secondary-background-color);
}

.title {
    text-align: left;
}

.header {
    padding: 1em;
    display: flex;
    align-items: center;
    background-color: #1A2D37;
    height: 30%;
}

.header:hover {
    cursor: pointer;
}

.icons {
    width: 5%;
    float: right;
    margin: 0 auto;
    margin-right: 2em;
}

.summaryPanel {
    background-color: #15242D !important;
}
.infoLabel {
    text-align: left;
    font-weight: bold;
    padding: 0.5em;
}

.infoContent {
    background-color: #101F27;
    border: 1px solid var(--quaternary-background-color);
    padding: 1em;
    margin: 1em;
    text-align: left;
}