.container {
    border-radius: 0.5em;
    box-sizing: border-box;
    width: 100%;
    display: inline-grid;
    align-content: flex-start;
    background-color: var(--second-secondary-background-color);
}

.title {
    text-align: left;
}

.header {
    padding: 1em;
    display: flex;
    align-items: center;
    background-color: #1A2D37;
    height: 3em;
    margin-block: 0.5em;
}

.header:hover {
    cursor: pointer;
}

.icons {
    width: 5%;
    float: right;
    margin: 0 auto;
    margin-right: 2em;
}

.summaryPanel {
    background-color: #15242D !important;
}
.infoLabel {
    text-align: left;
    font-weight: bold;
    padding: 0.5em;
}

.infoContent {
    background-color: #101F27;
    border: 1px solid var(--tertiary-background-color);
    padding: 1em;
    margin: 1em;
    text-align: left;
}

.predTargets {
    display: inline-flex;
    margin-right: 10em;
    margin-left: 1em;
}

.surveysTexts {
    text-align: left;
    margin: 0.5em;
}

.predictedTargetsDiv {
    margin: 0.5em;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    border: 1px solid var(--tertiary-background-color);
}

.generalDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.surveysDivs {
    background-color: var(--quinary-background-color);
    border: 1px solid var(--tertiary-background-color);
    padding: 1em;
    margin: 0.5em;
    width: 55%;
    height: 30%;
}

.surveysTextsDiv {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-left: 0.5em;
}

.blocksTargetsDiv {
    margin: 0.5em;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    border: 1px solid var(--tertiary-background-color);
}

.executionsDiv {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-left: 0.5em;
}

.executionsText {
    display: inline-flex;
    margin-bottom: 2em;
    margin-top: 2em;
    font-weight: bold;
}

.divButtonBlocks {
    display: inline-grid;
    margin-bottom: 2em;
    grid-template-rows: 1fr 1fr;
    float: right;
}

.buttonBlocks {
    background-color: var(--status-running-color);
    color: white;
    cursor: pointer;
    float: right;
}

.currentBlock {
    margin-left: 2.5em;
    background-color: var(--second-primary-background-color) !important;
}

.blocksPanel {
    margin-left: 2.5em;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    border: 1px solid var(--tertiary-background-color);
    display: block;
}

.panel{
    overflow: hidden; 
    transition: height 0.7s ease;
}

.openPanel {
    height: 100%; 
}

.closePanel {
    height: 0%; 
    position: fixed;
}