
.temperatureMax {
  color: white !important;
  font-size: 18px;
}

.veryLow {
  background:#DB5B3E;
}

.low {
  background: #F9B200;
}

.medium {
  background: #DEE250;
}

.high {
  background: #97E54F;
}

.veryHigh {
  background: #00A26D;
}

.default {
  background: #808080;
}

.predictability {
  height: 15px;
}

td {
  text-align: center;
}

td > .backgroundPredictability {
  display: inline-block;
  vertical-align: middle ;
  height: 15px;
  background: var(--tertiary-background-color);
}

td > .predictability {
  display: inline-block;
  vertical-align: middle ;
}

.padding0 {
  padding: 0px !important;
}

.infoHeaderTable {
  overflow-x: auto;
  overflow-y: hidden;
}

.paddingInfoHeader {
  padding: 0.2em 0.4em !important;
}

.littleIcon {
  width: 1.3em;
}

.spread {
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 0.1em;
  justify-content: center;
}
