table {
    --table-scrollbar-width: 10px;
    --table-header-background: var(--second-quaternary-background-color);
    --table-row-background: var(--second-secondary-background-color);
    --table-row-border: var(--second-tertiary-background-color);
    --table-unack-row-background: var(--second-tertiary-background-color);
    --table-unack-row-border: var(--second-secondary-background-color);
    --table-hover-border: var(--second-senary-background-dimmed-color);
    --ack-width: 4em;
    --status-width: 12em;
    --name-width: 30em;
    --timestamp-width: 15em;
}

.dataTableWrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: inherit;
  height: inherit;
}

.dataTable {
    display: grid;
    grid-template-rows: min-content minmax(0, 1fr);
    /* width: calc(var(--ack-width) + 2*var(--status-width) + var(--name-width) + var(--timestamp-width)); */
    width: fit-content;
    height: inherit; /* necessary for scroll, but parent component must define height */
    table-layout: fixed;
    border-collapse: collapse;
}

/****************** Columns styles ***************/
.dataTable .ackButton {
    width: var(--ack-width);
    text-align: center;
}

.dataTable .status {
    width: var(--status-width);
    text-align: center;
}

.dataTable .maxSeverity {
    width: var(--status-width);
    text-align: center;
}

.dataTable .name {
    width: var(--name-width);
    text-align: left;
}

.dataTable .timestamp {
    width: var(--timestamp-width);
    text-align: left;
}

.statusWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.maxSeverityWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.expansionIconWrapper {
    min-width: 1em;
    height: 1em;
    cursor: pointer;
    padding: 0.3em;
    padding-right: 1em;
}

/****************** Make rows look clickable ***************/
.dataRow {
    cursor: pointer;
}

/****************** General table head and body styles ***************/
.dataTable thead {
    display: table;
    table-layout:fixed;
    width: fit-content;
    word-wrap:break-word;
}

.dataTable tbody {
    display: block;
    height: 100%; /* necessary for scroll */
    overflow-y: scroll;
    overflow-x: hidden;
}
.dataTable tbody tr {
    display: table;
    table-layout: fixed;
    width: fit-content;
}
.dataTable th, td {
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 1em;
    padding-right: 1em;
}

.dataTable th {
    border: 1px solid var(--table-row-background);
    background: var(--table-header-background);
    color: var(--highlighted-font-color);
    padding-top: 0em;
    padding-bottom: 0em;
    text-align: left;
}

/****************** Table body cells style ***************/
.dataTable td {
    color: var(--secondary-font-color);
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    word-wrap:break-word;
    max-width: 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid var(--table-row-border);
}

/****************** Table rows style ***************/
.dataTable tr {
    background: var(--table-row-background);
}

/****************** Table Unack rows style ***************/
.dataTable tr.unackRow {
    background: var(--table-unack-row-background);
}

.dataTable tr.unackRow td {
    font-weight: bold;
    color: var(--base-font-color);
    border-bottom: 1px solid var(--table-unack-row-border);
}

/**** Remove bottom border from the row that has been expanded *****/
.dataTable tr.expandedRowParent td {
    border-bottom: 1px solid transparent;
}

/****************** Table rows hover style ***************/
.dataTable tr:hover {
    border-bottom: 1px solid var(--table-hover-border);
    border-top: 1px solid var(--table-hover-border);
    -moz-box-shadow: inset 0px 8px 8px -8px var(--table-hover-border),
      inset 0px -8px 8px -8px var(--table-hover-border);
    -webkit-box-shadow: inset 0px 8px 8px -8px var(--table-hover-border),
      inset 0px -8px 8px -8px var(--table-hover-border);
    box-shadow: inset 0px 8px 8px -8px var(--table-hover-border),
      inset 0px -8px 8px -8px var(--table-hover-border);
}

.dataTable .valueCell {
    padding: 0.4em 0.5em;
    word-wrap:break-word;
    word-wrap: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dataTable td input {
    min-width: 10px;
}

.dataTable .firstColumn input {
    margin: 0;
}

/****************** Styles for the Expanded row ***************/
.dataTable .expandedRow {
    display: block;
    width: 100%;
    text-align: left;
    background: var(--table-row-background);
    border-bottom: 1px solid var(--table-row-border);
}

.dataTable .unackExpandedRow {
    background: var(--table-unack-row-background);
    border-bottom: 1px solid var(--table-unack-row-border);
}

.dataTable .expandedRow td {
    /* display: block; */
    vertical-align: top;
    border: 1px solid transparent;
    padding: 1em;
}

.dataTable .expandedRow .expandedRowContent {
  /* width: calc(100% - 4em); */
  vertical-align: top;
  border: 1px solid transparent;
  padding: 1em;
}

/* .dataTable .expandedRow textarea {
    background: var(--secondary-background-dimmed-color);
    color: var(--base-font-color);
    border: none;
    width: calc(100% - 3em);
    margin-left: 2em;
    height: 13em;
    font-size: 1em;
    resize: none;
    border-radius: 5px;
    padding: 0.6em 0.6em;
} */

.dataTable tr:hover.expandedRow td{
    border-bottom: 1px solid var(--secondary-background-color);
    border-top: 1px solid transparent;
}


/****************** Styles to make the Table corners rounded ***************/
.dataTable th:first-of-type {
    border-top-left-radius: 7px;
}

.dataTable th:last-of-type {
    border-top-right-radius: 7px;
}

.dataTable tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 7px;
}

.dataTable tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 7px;
}

.dataTable .firstColumn {
    width: 1em;
    background: var(--base-background-color);
    padding: 0em 0.5em;
    text-align: center;
    border: 1px solid var(--base-background-color)
}

/*************** Styles for the Table Body Scroller ***************/
/* width */
.dataTable ::-webkit-scrollbar {
    width: var(--table-scrollbar-width);
}

/* Track */
.dataTable ::-webkit-scrollbar-track {
    background: var(--tertiary-background-color);
}

/* Handle */
.dataTable ::-webkit-scrollbar-thumb {
    background: var(--tertiary-font-color);
    border-radius: 1.1em;
}

/* Handle on hover */
.dataTable ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-font-color);
}
