:root{
    --scrollbar-width: 10px;
}

.telemetrySelectionTable {
    display: grid;
    grid-template-rows: min-content minmax(0, 1fr);
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.telemetrySelectionTable thead {
    display: table;
    table-layout:fixed;
    width: calc(100% - var(--scrollbar-width));
    word-wrap:break-word;
}

.telemetrySelectionTable tbody {
    /* background: var(--secondary-background-color); */
    display: block;
    height: inherit; /* necessary for scroll */
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.telemetrySelectionTable tbody tr {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.telemetrySelectionTable th, td {
    width: auto;
}

.telemetrySelectionTable th {
    border: 1px solid var(--base-background-color);
    background: var(--tertiary-background-color);
    padding: 0em 0.5em;
    padding-left: 1em;
    text-align: left;
}

.telemetrySelectionTable .narrowCol {
    width: 7%;
}

.telemetrySelectionTable .mediumCol {
    width: 9%;
}

.telemetrySelectionTable .wideCol {
    width: 12%;
}

.telemetrySelectionTable tr:hover {
    border-bottom: 1px solid var(--second-senary-background-dimmed-color);
    border-top: 1px solid var(--second-senary-background-dimmed-color);
    -moz-box-shadow: inset 0px 8px 8px -8px var(--second-senary-background-dimmed-color),
      inset 0px -8px 8px -8px var(--second-senary-background-dimmed-color);
    -webkit-box-shadow: inset 0px 8px 8px -8px var(--second-senary-background-dimmed-color),
      inset 0px -8px 8px -8px var(--second-senary-background-dimmed-color);
    box-shadow: inset 0px 8px 8px -8px var(--second-senary-background-dimmed-color),
      inset 0px -8px 8px -8px var(--second-senary-background-dimmed-color);
}

.telemetrySelectionTable tr:hover.expandedRow td{
    border-bottom: 1px solid var(--secondary-background-color);
    border-top: 1px solid transparent;
}

.telemetrySelectionTable tr:nth-child(even) {
    background: var(--secondary-background-dimmed-color);
}

.telemetrySelectionTable tr:nth-child(odd) {
    background: var(--secondary-background-color);
}


.telemetrySelectionTable tr.unackRow {
    background: var(--tertiary-background-color);
}

.telemetrySelectionTable tr.unackRow td {
    font-weight: bold;
    color: var(--base-font-color);
    border-bottom: 1px solid var(--base-background-color);
}

.dataRow {
    cursor: pointer;
}

.telemetrySelectionTable th:first-of-type {
    border-top-left-radius: 7px;
}

.telemetrySelectionTable th:last-of-type {
    border-top-right-radius: 7px;
}

.telemetrySelectionTable td {
    color: var(--secondary-font-color);
    padding: 0.4em 1em;
    word-wrap:break-word;
    max-width: 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid var(--base-background-color);
    border-right: 1px solid var(--base-background-color);
}

.telemetrySelectionTable td.string {
    text-align: left;
}

.telemetrySelectionTable td.number {
    text-align: right;
}

.telemetrySelectionTable .valueCell {
    padding: 0.4em 0.5em;
    word-wrap:break-word;
    word-wrap: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.telemetrySelectionTable td input {
    min-width: 10px;
}

.telemetrySelectionTable tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 7px;
}

.telemetrySelectionTable tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 7px;
}

.telemetrySelectionTable .firstColumn {
    width: 1em;
    background: var(--base-background-color);
    padding: 0em 0.5em;
    text-align: center;
    border: 1px solid var(--base-background-color)
}

.telemetrySelectionTable .firstColumn input {
    margin: 0;
}

.telemetrySelectionTable .expandedRow {
    text-align: left;
    background: var(--tertiary-background-color);
}

.telemetrySelectionTable tr:nth-child(even).expandedRow {
    background: var(--tertiary-background-color);
}

.telemetrySelectionTable tr:nth-child(odd).expandedRow {
    background: var(--tertiary-background-color);
}

.telemetrySelectionTable .expandedRow .title {
    font-weight: bold;
    color: var(--base-font-color);
}

.telemetrySelectionTable .expandedRow td {
    vertical-align: top;
    border: 1px solid transparent;
    padding: 1em;
}

.telemetrySelectionTable .expandedRow textarea {
    background: var(--secondary-background-dimmed-color);
    color: var(--base-font-color);
    border: none;
    width: calc(100% - 3em);
    margin-left: 2em;
    height: 13em;
    font-size: 1em;
    resize: none;
    border-radius: 5px;
    padding: 0.6em 0.6em;
}

.telemetrySelectionTable .expandedColumn {
    display: grid;
    grid-template-columns: minmax(30em, min-content) 1fr;
    column-gap: 2em;
}

/* width */
.telemetrySelectionTable ::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

/* Track */
.telemetrySelectionTable ::-webkit-scrollbar-track {
    background: var(--tertiary-background-color);
}

/* Handle */
.telemetrySelectionTable ::-webkit-scrollbar-thumb {
    /* background: var(--quinary-background-color); */
    background: var(--tertiary-font-color);
    border-radius: 1.1em;
}

/* Handle on hover */
.telemetrySelectionTable ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-font-color);
}
