:root{
    --scrollbar-width: 10px;
}

.dataTable {
    display: grid;
    grid-template-rows: min-content minmax(0, 1fr);
    width: fit-content;
    height: 400px;
    table-layout: fixed;
    border-collapse: collapse;
}

/****************** Columns styles ***************/
.dataTable .status {
    width: 13em;
}

.dataTable .maxSeverity {
    width: 9em;
}

.dataTable .name {
    width: 30em;
}

.dataTable .timestamp {
    width: 13em;
}

/****************** Make rows look clickable ***************/
.dataRow {
    cursor: pointer;
}

/****************** General table head and body styles ***************/
.dataTable thead {
    display: table;
    table-layout:fixed;
    width: fit-content;
    word-wrap:break-word;
}

.dataTable tbody {
    display: block;
    height: inherit; /* necessary for scroll */
    overflow-y: scroll;
    overflow-x: hidden;
}
.dataTable tbody tr {
    display: table;
    table-layout: fixed;
    width: fit-content;
}
.dataTable th, td {
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dataTable th {
    border: 1px solid var(--base-background-color);
    background: var(--tertiary-background-color);
    padding: 0em 1em;
    padding-left: 1em;
    text-align: left;
}

/****************** Styles for content alignment ***************/
.dataTable td.string {
    text-align: left;
}

.dataTable td.number {
    text-align: right;
}

/****************** Table body cells style ***************/
.dataTable td {
    color: var(--secondary-font-color);
    padding: 0.4em 1em;
    word-wrap:break-word;
    max-width: 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid var(--base-background-color);
}

/****************** Table rows stripped style ***************/
.dataTable tr:nth-child(even) {
    background: var(--secondary-background-dimmed-color);
}

.dataTable tr:nth-child(odd) {
    background: var(--secondary-background-color);
}

/****************** Table Unack rows style ***************/
.dataTable tr.unackRow {
    background: var(--tertiary-background-color);
}

.dataTable tr.unackRow td {
    font-weight: bold;
    color: var(--base-font-color);
    border-bottom: 1px solid var(--base-background-color);
}

/****************** Table rows hover style ***************/
.dataTable tr:hover {
    border-bottom: 1px solid var(--second-senary-background-dimmed-color);
    border-top: 1px solid var(--second-senary-background-dimmed-color);
    -moz-box-shadow: inset 0px 8px 8px -8px var(--second-senary-background-dimmed-color),
      inset 0px -8px 8px -8px var(--second-senary-background-dimmed-color);
    -webkit-box-shadow: inset 0px 8px 8px -8px var(--second-senary-background-dimmed-color),
      inset 0px -8px 8px -8px var(--second-senary-background-dimmed-color);
    box-shadow: inset 0px 8px 8px -8px var(--second-senary-background-dimmed-color),
      inset 0px -8px 8px -8px var(--second-senary-background-dimmed-color);
}

.dataTable .valueCell {
    padding: 0.4em 0.5em;
    word-wrap:break-word;
    word-wrap: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dataTable td input {
    min-width: 10px;
}

.dataTable .firstColumn input {
    margin: 0;
}

/****************** Styles to make the Table corners rounded ***************/
.dataTable th:first-of-type {
    border-top-left-radius: 7px;
}

.dataTable th:last-of-type {
    border-top-right-radius: 7px;
}

.dataTable tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 7px;
}

.dataTable tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 7px;
}

.dataTable .firstColumn {
    width: 1em;
    background: var(--base-background-color);
    padding: 0em 0.5em;
    text-align: center;
    border: 1px solid var(--base-background-color)
}

/****************** Styles for the Expanded row ***************/
.dataTable .expandedRow {
    text-align: left;
    background: var(--tertiary-background-color);
}

.dataTable tr:nth-child(even).expandedRow {
    background: var(--tertiary-background-color);
}

.dataTable tr:nth-child(odd).expandedRow {
    background: var(--tertiary-background-color);
}

.dataTable .expandedRow .title {
    font-weight: bold;
    color: var(--base-font-color);
}

.dataTable .expandedRow td {
    vertical-align: top;
    border: 1px solid transparent;
    padding: 1em;
}

.dataTable .expandedRow textarea {
    background: var(--secondary-background-dimmed-color);
    color: var(--base-font-color);
    border: none;
    width: calc(100% - 3em);
    margin-left: 2em;
    height: 13em;
    font-size: 1em;
    resize: none;
    border-radius: 5px;
    padding: 0.6em 0.6em;
}

.dataTable .expandedColumn {
    display: grid;
    grid-template-columns: minmax(30em, min-content) 1fr;
    column-gap: 2em;
}

.dataTable tr:hover.expandedRow td{
    border-bottom: 1px solid var(--secondary-background-color);
    border-top: 1px solid transparent;
}

/*************** Styles for the Table Body Scroller ***************/
/* width */
.dataTable ::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

/* Track */
.dataTable ::-webkit-scrollbar-track {
    background: var(--tertiary-background-color);
}

/* Handle */
.dataTable ::-webkit-scrollbar-thumb {
    background: var(--tertiary-font-color);
    border-radius: 1.1em;
}

/* Handle on hover */
.dataTable ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-font-color);
}
