.container {
  display: flex;
  background-color: var(--second-secondary-background-color);
  border: 1px solid var(--second-senary-background-dimmed-color);
  border-radius: 0.5em;
  overflow: hidden;
  text-align: left;
}

.container > * {
  flex: 1;
}

.observatoryDataContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: var(--content-padding);
}

.titleField {
  text-align: left;
}

.titleField h1 {
  margin: var(--small-padding) 0;
}

.telescopeStatesContainer {
  display: flex;
  gap: var(--content-padding);
  padding: var(--content-padding);
  background: var(--second-quaternary-background-dimmed-color);
  border-radius: 5px;
}

.telescopeData {
  display: flex;
  flex-direction: column;
  gap: var(--small-padding);
}

.telescopeDataParam {
  min-width: 15em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--small-padding);
}

.telescopeDataParamInput {
  width: 5em;
}

.telescopeDataParamInput,
.timeLossFieldInput {
  background: var(--secondary-background-dimmed-color);
  text-align: right;
}

.timeLossField {
  display: flex;
  align-items: end;
  gap: var(--small-padding);
}

.timeLossFieldInput {
  width: 4em;
}

.timeLossFieldHint {
  height: 1em;
  width: 1em;
  align-self: center;
  cursor: pointer;
}

.select {
  background-color: var(--second-secondary-background-color);
  color: var(--base-font-color);
  border-radius: 0.2em;
}

.formContainer {
  min-width: 45em;
}

.formContainer,
.observatoryDataContainer {
  padding: var(--content-padding);
  background-color: var(--second-tertiary-background-color);
}

.progressBar {
  width: 80%;
  display: flex;
  align-items: center;
  margin: var(--content-padding) auto;
}

.progressBar > .step {
  width: 33%;
  height: 1em;
  background-color: var(--quinary-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.progressBar > .step:not(:last-child) {
  border-right: 1px var(--primary-active-hover-background-color) solid;
}

.progressBar > .step > :first-child {
  background-color: var(--quinary-background-color);
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressBar > .step.selectedStep,
.progressBar > .step.selectedStep > :first-child {
  /* color: var(--quinary-background-color); */
  background-color: var(--primary-active-hover-background-color);
  animation: mymove 1s infinite;
  animation-direction: alternate;
}

@keyframes mymove {
  from {
    background-color: var(--primary-active-hover-background-color);
  }
  to {
    background-color: var(--quinary-background-color);
  }
}

.currentStatusText {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.currentStatusText > :first-child {
  color: var(--primary-active-hover-background-color);
  font-weight: bold;
}

.inputField {
  display: flex;
  align-items: center;
  margin-bottom: var(--small-padding);
}

.inputField > :first-child {
  white-space: nowrap;
  margin-right: var(--small-padding);
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: var(--content-padding);
}

.reportSummary,
.reportWeather {
  min-height: 6em;
}

.reportSummaryTitle,
.reportWeatherTitle,
.reportTelescopeStatusTitle,
.reportObserversTitle,
.telescopeStatesContainerTitle,
.reportObsTicketsTitle,
.cscStatesTitle {
  font-weight: bold;
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: var(--small-padding);
}

.reportWeatherTitle > :first-child,
.reportObsTicketsTitle > :first-child {
  display: flex;
  align-items: center;
  gap: var(--small-padding);
}

.reportWeatherTitle > :first-child button,
.reportObsTicketsTitle > :first-child button {
  padding: 0.25em var(--small-padding);
  display: flex;
  align-items: center;
}

.refreshIcon {
  width: 1em;
  height: 1em;
}

.reportTelescopeStatus {
  min-height: 10em;
}

.alerts {
  display: flex;
  flex-direction: column;
  gap: var(--small-padding);
}

.alerts:has(*) {
  margin-top: var(--content-padding);
}

.obsTicketsTableWrapper {
  max-height: 13.5em;
  overflow-y: auto;
}

.obsTicketsTableWrapper > table {
  table-layout: fixed;
  border-radius: 0.25em;
  border: none;
  overflow: hidden;
}

.obsTicketsTableWrapper > table td {
  text-overflow: ellipsis;
  overflow: hidden;
}

.cscStatesContainer {
  padding: var(--content-padding);
  background: var(--second-quaternary-background-dimmed-color);
  border-radius: 5px;
}

.cscStates {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11em, 1fr));
  row-gap: var(--small-padding);
  column-gap: calc(var(--content-padding) * 4);
}

.cscState {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cscState > :last-child {
  width: 1em;
  height: 1em;
}
