.container {
  padding: var(--content-padding);
}

.filters,
.refresh {
  display: flex;
  align-items: center;
  margin-bottom: var(--content-padding);
  gap: var(--small-padding);
}

.report {
  text-align: left;
  background-color: var(--second-tertiary-background-color);
  padding: 1em;
  display: grid;
  row-gap: var(--content-padding);
  column-gap: var(--content-padding);
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'metadata telescope-status'
    'summary summary-weather'
    'summary-maintel summary-maintel'
    'summary-auxtel summary-auxtel'
    'participants participants';
  border-radius: 0.5em;
}

.reportMetadata {
  grid-area: metadata;
  display: grid;
  grid-template-columns: minmax(min-content, auto) 1fr;
  row-gap: var(--small-padding);
  margin-bottom: var(--small-padding);
}

.reportMetadata > :nth-child(odd) {
  white-space: nowrap;
  margin-right: var(--small-padding);
}

.reportSummary,
.reportSummaryWeather,
.reportSummaryMaintel,
.reportSummaryAuxtel {
  background-color: var(--second-quaternary-background-color);
  /* margin: var(--small-padding) 0; */
  padding: var(--content-padding);
  border-radius: 0.5em;
  white-space: pre-wrap;
}

.reportSummary {
  grid-area: summary;
}

.reportSummaryWeather {
  grid-area: summary-weather;
}

.reportSummaryMaintel {
  grid-area: summary-maintel;
}

.reportSummaryAuxtel {
  grid-area: summary-auxtel;
}

.reportParticipants {
  grid-area: participants;
}

.report:not(:last-child) {
  margin-bottom: var(--small-padding);
}

.label {
  color: var(--secondary-font-color);
  font-weight: bold;
}

.value {
  color: var(--base-font-color);
}

.value a {
  color: var(--base-font-color);
}

.value a:hover {
  color: var(--secondary-font-color);
}
