.container {
  padding: var(--content-padding);
}

.filters,
.refresh {
  display: flex;
  align-items: center;
  margin-bottom: var(--content-padding);
  gap: var(--small-padding);
}

.report {
  text-align: left;
  background-color: var(--second-tertiary-background-color);
  padding: 1em;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'metadata telescope-status'
    'summary summary'
    'participants participants';
  border-radius: 0.5em;
}

.reportMetadata {
  grid-area: metadata;
  display: grid;
  grid-template-columns: minmax(min-content, auto) 1fr;
  margin-bottom: var(--small-padding);
}

.reportMetadata > :nth-child(odd) {
  white-space: nowrap;
  margin-right: var(--small-padding);
}

.reportTelescopeStatus {
  grid-area: telescope-status;
  background-color: var(--second-quaternary-background-color);
  margin-bottom: var(--small-padding);
  padding: var(--content-padding);
  border-radius: 0.5em;
}

.reportSummary {
  grid-area: summary;
  background-color: var(--second-quaternary-background-color);
  margin: var(--small-padding) 0;
  padding: var(--content-padding);
  border-radius: 0.5em;
}

.reportParticipants {
  grid-area: participants;
}

.report:not(:last-child) {
  margin-bottom: var(--small-padding);
}

.label {
  color: var(--secondary-font-color);
  font-weight: bold;
}

.value {
  color: var(--base-font-color);
}

.value a {
  color: var(--base-font-color);
}

.value a:hover {
  color: var(--secondary-font-color);
}
