.container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: fit-content;
  max-width: fit-content;
}
.container > div {
  align-content: start;
  grid-template-columns: 0.8fr minmax(10em, 0.5fr);
}

.row2 {
  grid-row: span 2;
}
