.filterIconWrapper {
    width: 16px;
    min-width: 16px;
    position:absolute;
    top:0;
    right:0;
}

.columnHeader{
    text-transform: uppercase;
    padding: 0.5em 0em;
    position:relative;
}

