.filterIconWrapper {
    width: 16px;
    min-width: 16px;
    position:absolute;
    right:0;
    top: 50%;
    transform: translateY(-50%);
}

.columnHeader {
    text-transform: uppercase;
    padding: 0.5em 0em;
    position:relative;
}

.primaryText {
    display: block;
}

.secondaryText {
    font-size: 0.65em;
    color: var(--secondary-font-color);
}