.timeseriesControlsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.gearIconContainer {
  width: 40px;
  margin: 0em 3em;
  cursor: pointer;
}

.switchContainer {
  padding: 0em 4em;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 14px;
  vertical-align: middle;
  margin: 0px 10px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aab1b9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: -6px;
  background-color: #aab1b9;
  border: 5px solid white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #aab1b9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #aab1b9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.highlightText {
  color: white;
}

.modeSelection {
  user-select: none;
  cursor: pointer;
}
