.device {
  /* filter: drop-shadow(0px 0px 1px rgb(0 0 0 / 0.25)); */
}

.container {
  fill: var(--second-quaternary-background-color);
}

.titleRow2 {
  fill: var(--second-tertiary-background-color);
}

.titleBg {
  fill: var(--second-primary-background-color);
}

.alarmBg {
  animation: alert 0.5s infinite;
  animation-direction: alternate;
}

.alarmRow2 {
  fill: var(--second-tertiary-background-color);
  animation: alert-stroke 0.5s infinite;
  animation-direction: alternate;
}

@keyframes alert-stroke {
  from {
    stroke: var(--status-alert-color);
  }
  to {
    stroke: var(--status-alert-dimmed-color-2);
  }
}

@keyframes alert {
  from {
    fill: var(--status-alert-color);
    stroke: var(--status-alert-color);
  }
  to {
    fill: var(--status-alert-dimmed-color-2);
    stroke: var(--status-alert-dimmed-color-2);
  }
}

.title {
  fill: var(--base-font-color);
  font-size: 6px;
  font-weight: bold;
}

.statusOk {
  fill: var(--status-ok-color);
  font-size: 4px;
}

.statusWarning {
  fill: var(--status-warning-color);
  font-size: 4px;
}
.statusAlert {
  fill: var(--status-alert-color);
  font-size: 4px;
}
.statusDisabled {
  fill: var(--secondary-font-color);
  font-size: 4px;
}
.statusNull {
  fill: var(--status-disabled-dimmed-color);
  stroke: none;
  font-size: 4px;
}

.bgStatusOk {
  fill: var(--status-ok-dimmed-color-3);
  font-size: 4px;
}

.bgStatusWarning {
  fill: var(--status-warning-dimmed-color-3);
  font-size: 4px;
}
.bgStatusAlert {
  fill: var(--status-alert-dimmed-color-3);
  font-size: 4px;
}
.bgStatusDisabled {
  fill: var(--second-tertiary-background-color);
  font-size: 4px;
}
.bgStatusNull {
  fill: var(--second-tertiary-background-color);
  font-size: 4px;
}

.param {
  fill: var(--base-font-color);
  font-size: 4px;
}

.paramGroup {
  fill: var(--base-font-color);
  font-size: 4px;
  font-weight: bold;
}

.boxParamOk {
  font-size: 4px;
  fill: var(--satus-ok-dimmed-color-3);
}

.paramVal {
  fill: var(--base-font-color);
  font-size: 4px;
}
.insideContent {
  transition: all 0.25s;
}
.mask {
  fill: white;
}

.arrowBg {
  fill: var(--second-tertiary-background-color);
  cursor: pointer;
}

.arrow {
  stroke: var(--base-font-color);
  fill: none;
  transition: all 0.25s;
  cursor: pointer;
}
.alarm {
  transition: all 0.25s;
}
