.configPanelContainer {
  display: grid;
  grid-template-rows: min-content 1fr;
  height: 100%;
  background: var(--second-secondary-background-color);
  z-index: 10;
  box-shadow: -5px 5px 20px 0px rgba(0, 0, 0, 0.75);
}

.topBar {
  display: flex;
  justify-content: space-between;
  background: var(--second-secondary-background-color);
  cursor: pointer;
  user-select: none;
  text-align: left;
  font-size: var(--font-size-larger);
  padding: 0.1em 0.5em;
}

.closeButton {
  cursor: pointer;
  text-align: right;
  padding: 0 0.5em;
}

.closeButton:hover {
  background: var(--second-tertiary-background-color);
  font-weight: bold;
}

.bottomBar {
  /* background: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: var(--second-secondary-background-color);
  cursor: pointer;
  user-select: none;
  font-size: var(--font-size-large);
  padding: 0.5em 0.5em;
}

.bar {
}

.body {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.checkpointsRegexpContainer {
  display: grid;
  grid-template-columns: auto auto 10rem;
  align-items: center;
  justify-items: start;
  margin-right: 1rem;
  grid-row-gap: 0.1rem;
  grid-column-gap: 0.25rem;
}

/* .checkpointsRegexpContainer {
  display: grid;
  grid-template-columns: 5rem 10rem;
  align-items: center;
  margin-right: 1rem;
  grid-row-gap: 0.1rem;
  
} */

.checkpointsInput {
  background: var(--tertiary-background-color);
  max-height: 1.5rem;
  /* border-radius: 0px; */
  color: var(--secondary-font-color);
}

.checkpointsInput:focus {
  outline: var(--primary-active-font-color) auto 5px;
}

.logLevelLabel {
  grid-column-start: span 2;
}

.logLevelSelect {
  color: var(--secondary-font-color);
  background-color: var(--tertiary-background-color);
  border: 1px solid var(--primary-active-font-color);
  border: none;
  border-radius: 3px;
  padding: 0.3em 0.3em 0.15em 0.15em;
  width: 100%;
  outline: none;
}

.logLevelSelect:focus {
  border: none;
  outline: var(--primary-active-font-color) auto 5px;
  outline: none;
}

.addBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidePanel {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.sidePanel > h3 {
  margin-left: 1rem;
  margin-bottom: 0.25rem;
}

.verticalDivider {
  border: 0.5px solid var(--tertiary-background-color);
  margin: 0.5px;
}
