.configPanelContainer {
  display: grid;
  grid-template-rows: min-content 1fr;
  height: 100%;
  background: var(--second-secondary-background-color);
  z-index: 10;
  box-shadow: -5px 5px 20px 0px rgba(0, 0, 0, 0.75);
}

.topBar {
  display: flex;
  justify-content: space-between;
  background: var(--second-secondary-background-color);
  cursor: pointer;
  user-select: none;
  text-align: left;
  font-size: var(--font-size-larger);
  padding: 0.1em 0.5em;
}

.topButtonsContainer {
  display: grid;
  grid-template-columns: 1.5em 1.5em;
}
.closeButton {
  cursor: pointer;
  text-align: right;
  padding: 0 0.5em;
}

.rotateButton {
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  padding: 0.25em;
}

.rotateButton:hover {
  background: var(--second-tertiary-background-color);
  font-weight: bold;
}

.closeButton:hover {
  background: var(--second-tertiary-background-color);
  font-weight: bold;
}

.bottomBar {
  /* background: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: var(--second-secondary-background-color);
  cursor: pointer;
  user-select: none;
  font-size: var(--font-size-large);
  padding: 0.5em 0.5em;
}

.bar {
}

.body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.sideBySide {
  flex-direction: row;
  justify-content: space-around;
}

.checkpointsRegexpContainer {
  display: grid;
  grid-template-columns: auto auto 10rem;
  align-items: center;
  justify-items: start;
  margin-right: 1rem;
  grid-row-gap: 0.1rem;
  grid-column-gap: 0.25rem;
}

/* .checkpointsRegexpContainer {
  display: grid;
  grid-template-columns: 5rem 10rem;
  align-items: center;
  margin-right: 1rem;
  grid-row-gap: 0.1rem;
  
} */

.checkpointsInput {
  background: var(--tertiary-background-color);
  max-height: 1.5rem;
  /* border-radius: 0px; */
  color: var(--secondary-font-color);
}

.checkpointsInput:focus {
  outline: var(--primary-active-font-color) auto 5px;
}

.logLevelLabel {
  grid-column-start: span 2;
}

.logLevelSelect {
  color: var(--secondary-font-color);
  background-color: var(--tertiary-background-color);
  border: 1px solid var(--primary-active-font-color);
  border: none;
  border-radius: 3px;
  padding: 0.3em 0.3em 0.15em 0.15em;
  width: 100%;
  outline: none;
}

.logLevelSelect:focus {
  border: none;
  outline: var(--primary-active-font-color) auto 5px;
  outline: none;
}

.addBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidePanel {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.sidePanel > h3,
.sidePanelHeaderContainer {
  margin-left: 1rem;
  margin-bottom: 0.25rem;
}

.schemaErrorIcon {
  width: 1em;
  min-width: 1em;
  padding-left: 0.5em;
  text-align: center;
  user-select: none;
  display: flex;
  align-items: center;
  transform: translateY(-0.2em);
}

.divider {
}

.horizontalDivider {
  cursor: ns-resize;
  border-top: 0.5rem solid rgba(0, 0, 0, 0);
  border-bottom: 0.5rem solid rgba(0, 0, 0, 0);
}

.verticalDivider {
  cursor: ew-resize;
  border-left: 0.5rem solid rgba(0, 0, 0, 0);
  border-right: 0.5rem solid rgba(0, 0, 0, 0);
}

.readOnly {
  color: var(--secondary-font-color);
}

.sidePanelHeaderContainer {
  /* display: flex; */
  position: relative;
}

.infoPanel {
  position: absolute;
  top: 0em;
  left: 7em;
  z-index: 2000;
}

.infoPanelBody {
  width: max-content;
  max-width: 500px;
  color: var(--primary-font-color);
  font-size: 1.3em;
  padding: 0.3em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}

.infoPanelBody > ul {
  margin: 0;
  text-align: start;
  padding-left: 0.8em;
}
.infoPanelFirstLine {
  font-weight: 600;
  margin-bottom: 0.1em;
}

.errorName {
  font-weight: 600;
  margin-left: -0.3em;
}
