.summaryContainer {
  display: flex;
  flex-wrap: wrap;
}

.summaryComponentWrapper {
  min-width: 20em;
  padding: 0.25em;
  flex-grow: 1;
  text-align: left;
}

.summaryComponent {
  background: var(--second-secondary-background-color);
  padding: 1em;
  height: calc(100% - 2em);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summaryComponentTitle {
  font-size: var(--font-size-large);
  color: var(--base-font-color);
  font-weight: 600;
  padding-bottom: 1em;
}

.statusWrapper {
  display: flex;
}

.statusTextLabel {
  text-align: left;
}

.statusTextWrapper {
  text-align: center;
}

.statusGroupWrapper {
  display: inline-grid;
  grid-template-columns: max-content 8em;
  grid-row-gap: 0.5em;
  grid-column-gap: 1em;
  align-items: center;
}