.container {
  color: var(--secondary-font-color);
  text-align: left;
}

.linkList {
  list-style-position: inside;
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: min-content 30ch min-content min-content min-content;
}

.buttons {
  /* display: contents; */
  display: inline-grid;
  grid-template-columns: min-content min-content min-content;
  grid-column-gap: 0.5em;
  justify-content: end;
}

.linkListItem {
  font-size: 1.3em;
}

.viewIndex {
  padding-left: 2em;
  padding-right: 0.5em;
  text-align: right;
}

.availableViewsWrapper {
  display: inline-block;
}

.availableViewsBar {
  display: grid;
  grid-template-columns: minmax(5em, max-content) minmax(13em, max-content) max-content;
  grid-row-gap: 0.5em;
  align-items: center;
  justify-content: start;
}

.availableViewsTitle {
  grid-column: span 2;
  margin: 0.5em 0;
}

.newViewButtonWrapper {
  margin-top: 0.5em;
  padding-top: 0.5em;
  border-top: 1px solid var(--secondary-font-color);
  text-align: right;
}

.viewName {
  color: var(--primary-font-color);
}

.availableViewsBar .input {
  width: auto;
}

.filterLabel {
  padding-right: 0.5em;
}
