.container {
  color: var(--secondary-font-color);
  text-align: left;
}

.filterWrapper {
  width: 100%;
  padding: 1em 0;
  border-bottom: 1px solid var(--secondary-font-dimmed-color);
}

.filter {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 1em;
  max-width: 50ch;
}

.filterLabel {
  font-size: 1.2em;
  display: flex;
  align-items: center;
}


.availableViewsWrapper {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25ch, 1fr));
  grid-auto-rows: minmax(5em, auto);
  grid-gap: 1em;
}

.view {
  display: grid;
  cursor: pointer;
  grid-template-rows: 8em min-content min-content;
  grid-gap: 0.5em;
  padding: 0.5em;
  border: 1px solid transparent;
  border-radius: 7px;
  color: var(--base-font-color);
  background-color: var(--second-secondary-background-color);
}

.view .name {
  text-align: center;
}

.view .preview {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 1px dashed var(--secondary-font-color);
}

.view .new {
  border: 1px dashed var(--secondary-font-color);
  text-align: center;
}

.view .new .plus {
  display: flex;
  font-size: 5em;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.view .buttons {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-gap: 0.5em;
  justify-content: center;
}

.iconButton {
  border-radius: 100%;
  height: 2em;
  width: 2em;
  padding: 0.1em 0 0 0;
}

.icon {
  height: 1em;
  width: 1em;
  fill: var(--base-font-color);
}
