.container {
  color: var(--secondary-font-color);
  text-align: left;
}

.filterWrapper {
  width: 100%;
  padding: 1em 0;
  border-bottom: 1px solid var(--secondary-font-dimmed-color);
}

.filter {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 1em;
  max-width: 50ch;
}

.filterLabel {
  font-size: 1.2em;
  display: flex;
  align-items: center;
}


.availableViewsWrapper {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35ch, 1fr));
  grid-auto-rows: minmax(5em, auto);
  grid-gap: 1em;
}

.view {
  display: grid;
  cursor: pointer;
  grid-template-rows: 11em min-content min-content;
  grid-gap: 0.5em;
  padding: 0.5em;
  border: 1px solid transparent;
  border-radius: 7px;
  color: var(--base-font-color);
  background-color: var(--second-secondary-background-color);
  position: relative;
  padding-bottom: 0;
}

.view .name {
  text-align: center;
  font-size: 1.2em;
}

.view .preview {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 1px dashed var(--secondary-font-color);
  position: relative;
}

.view .preview img {
  max-height: 98%;
  max-width: 98%;
  background-color: var(--second-secondary-background-color);
  position: absolute;
  top: 0;
  left: 0;
  margin: 2px;
}

.view .new {
  border: 1px dashed var(--secondary-font-color);
  text-align: center;
}

.view .new .plus {
  display: flex;
  font-size: 5em;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.view .buttons {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-gap: 0.5em;
  justify-content: center;
  position: absolute;
  top: 1em;
  right: 1em;
  opacity: 0;
  transition: opacity 0.15s  ease-out;
}

.iconButton {
  border-radius: 100%;
  height: 2em;
  width: 2em;
  padding: 0.1em 0 0 0;
  border: 1px solid var(--secondary-font-color);
}

.icon {
  height: 1em;
  width: 1em;
  fill: var(--base-font-color);
}

.imageFallback {
  position: absolute;
  border-radius: 10em;
  border: 1px solid var(--secondary-font-color);
  top: 50%;
  left: 50%;
  height: 3.5em;
  width: 3.5em;
  transform: translate(-50%, -50%);
  line-height: 3.5em;
  text-align: center;
  font-size: 1.3em;
  background-color: var(--second-secondary-background-color);
  font-weight: bold;
  transition: opacity 0.15s  ease-out;
}


.viewOverlay {
  width: 100%;
  height: 100%;
  background-color: var(--second-secondary-background-color);
  background: rgba(0,0,0,0);
  filter: blur(2px);
  transition: filter 0.15s ease-out;
}

.view:hover .buttons {
  opacity: 1;
}

.view:hover .viewOverlay {
  filter: none;
}

.view:hover .hasThumbnail + .imageFallback {
  opacity: 0;
}