.svgContainer {
  flex-grow: 2;
  width: 100%;
  height: 100%;
  /* max-width: 480px; */
  min-width: 300px;
  /*border-radius: 50%;*/
}

.svgContainer text.hidden {
  opacity: 0;
}

.foreignObjectSvg {
  /* overflow-y: scroll; */
}

.container {
  width: 100%;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 50% 1fr;
  align-items: center;
}

.summaryDetailContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-tertiary-background-color);
  /* overflow: hidden; */
}

.summaryDetail {
  margin: 1em;
}

.emptySummaryDetail {
}
