.CSCGroupContainer {
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  padding: 1em 0em;
  background: var(--second-secondary-background-color);
  overflow: auto;
}

.CSCExpandedContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--base-font-color);
  border-radius: 4px;
  text-align: left;
  height: 100%;
  min-height: 32em;
  min-width: 24em;
}

.topBarContainerWrapper {
  display: flex;
  width: calc(100% - 2em);
  padding: 0em 1em;
}

.topBarContainer {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  font-weight: bold;
  padding-bottom: 0.5em;
  border-bottom: solid var(--second-quinary-background-color) 1px;
}

.topBarContainer span {
  vertical-align: middle;
}

.breadcrumbGroup {
  text-decoration: underline;
  cursor: pointer;
}

.stateContainer {
  display: flex;
  align-items: center;
}

.stateContainer > div {
  padding-right: 0.5em;
}

.backArrowIconWrapper {
  width: 2em;
  display: inline-block;
  padding: 0em 1em;
  cursor: pointer;
}

.summaryState {
  padding: 0.25em 0.75em;
  user-select: none;
}

.heartbeatIconWrapper {
  width: 1.6em;
}

.heartbeatIconWrapper > svg {
  vertical-align: top;
}

.logContainerWrapper {
}

.logContainerTopBar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5em;
}

.logContainer {
  width: calc(100% - 2em);
  height: 100%;
  padding: 1em;
  flex-grow: 1;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  min-height: 12em;
}

.log {
  background: var(--second-tertiary-background-color);
  border-radius: 5px;
  overflow-y: scroll;
}

.logMessage {
  display: flex;
  /* align-items: center; */
  border-bottom: solid var(--second-quaternary-background-color) 1px;
  word-wrap: break-word;
}

.logMessage:last-child {
  border-bottom: none;
}

.timestamp {
  align-self: flex-end;
  padding: 0.5em 0;
  color: var(--secondary-font-color);
}

.messageTextContainer {
  width: calc(100% - 5em);
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  padding-bottom: 0.5em;
}

.messageIcon {
  width: 1em;
  min-width: 1em;
  padding: 0.5em;
  text-align: center;
  user-select: none;
}

.messageText {
  padding-bottom: 0.5em;
}

.errorCodeContainer {
  flex-grow: 0;
}

.errorCode {
  font-weight: bold;
  width: 1em;
  min-width: 1em;
  padding: 0.5em;
  font-size: var(--font-size-large);
  text-align: center;
  user-select: none;
}

.errorReport {
}

.errorTraceback {
}

.filtersContainer {
  display: flex;
  justify-content: space-evenly;
}

.filtersContainer input[type="checkbox"] {
  transform: scale(1.3);
  vertical-align: middle;
  padding: 1em;
}

.filtersContainer span {
  display: inline-block;
  padding: 0.5em 0.5em;
}

.alert {
  background: var(--status-alert-color);
  color: var(--second-tertiary-background-color);
}

.ok {
  background: var(--status-ok-color);
  color: var(--second-tertiary-background-color);
}

.disabled {
  background: var(--status-disabled-dimmed-color-2);
  color: var(--second-quinary-background-color);
}

.warning {
  background: var(--status-warning-color);
  color: var(--second-tertiary-background-color);
}
