.svg {
  vertical-align: middle;
}

.cls-1 {
  fill: #122632;
  opacity: 0.99;
}

.cls-3 {
  stroke: #2b414d;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cls-1,
.cls-2 {
  fill-rule: evenodd;
}

.cls-2,
.cls-3 {
  fill: #1ecfe8;
}
