.panelRow {
  display: inline-flex;
}

.legend {
  display: grid;
  justify-content: center;
  grid-template-columns: 24em 10em;
}

.tabsWrapper {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.tabsRow {
  display: flex;
  flex-flow: row nowrap;
  align-items: left;
  padding-left: 1.7em;
  border: 0;
  flex: 0;
}

.tab {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.5em 2em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  border: 1px solid transparent;
  background-color: var(--second-secondary-background-color);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  margin-bottom: -1px;
  cursor: pointer;
  width: 18em;
}

.tabLabel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.selected {
  border: 1px solid hsl(199, 43%, 16%);
  border-bottom: 1px solid var(--second-secondary-background-color);
  z-index: 1;
  color: var(--base-font-color);
}

.selectedIcon {
  fill: var(--base-font-color);
}

.iconWrapper {
  width: 2em;
  height: 2em;
  padding-right: 1em;
}

.alarmsTableWrapper {
  background-color: var(--second-secondary-background-color);
  border: 1px solid hsl(199, 43%, 16%);
  border-radius: 7px;
  display: block;
  width: 100%;
  min-width: 1200px;
  padding: 1em 0;
  flex: 1;
  min-height: 0;
}

.embedded {
  width: 1200px;
}