
.waitingScriptContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  cursor: pointer;
  user-select: none;
}

.estimatedTimeContainer {
  /* position: absolute; */
  text-align: left;
  font-size: var(--font-size-small);
  bottom: 0.5em;
  white-space: nowrap;
}

.estimatedTimeLabel {
}

.estimatedTimeValue {
}

.heartbeatIcon {
  display: inline-block;
  margin: 0.2em;
  vertical-align: top;
}
