.container {
  position: relative;
  box-sizing: border-box;
}

.plotsContainer {
  display: grid;
  grid-template-rows: 200px;
  gap: 1em;
  overflow: hidden;
}

.plot {
  width: 100%;
  overflow: hidden;
}
