.input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 0.4em;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: 1px solid var(--secondary-font-dimmed-color);
  color: inherit;
}

.input::placeholder {
  color: var(--secondary-font-color);
  font-family: inherit;
  font-size: inherit;
}

.input:focus {
  outline: none;
  border: 1px solid var(--secondary-font-color);
}
