
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: var(--second-quaternary-background-dimmed-color);
}

.highlight {
    color: var(--base-font-color);
  }

.pt {
    padding: 2.15em 0em 0.1em 0em !important;
}
