.container {
  
}

.fill_ok_summary {
  fill: var(--status-ok-color);
}

.fill_warning_summary {
  fill: var(--status-warning-dimmed-color-2);
}

/* detailed state classes */

.alert_summary {
  background: var(--status-alert-color);
  color: var(--second-tertiary-background-color);
  /* color: var(--status-alert-color);
  background: var(--status-alert-dimmed-color-2); */
}

.ok_summary {
  background: var(--status-ok-color);
  color: var(--second-tertiary-background-color);
  /* color: var(--status-ok-color);
  background: var(--status-ok-dimmed-color-2); */
}

.warning_summary {
  /* background: var(--status-warning-color); */
  /* color: var(--second-tertiary-background-color); */
  color: var(--status-warning-color);
  background: var(--status-warning-dimmed-color-2);
}

.unknown_summary {
  background: var(--status-disabled-dimmed-color-2);
  color: var(--second-quinary-background-color);
}

.offline_summary {
  background: var(--status-disabled-dimmed-color-2);
  color: var(--secondary-font-color);
}

.disabled_summary {
  background: var(--primary-background-color);
  color: var(--base-font-color);
}

.ok_detail {
  color: var(--status-ok-color);
  background: var(--status-ok-dimmed-color-3);
  border-left: 3px solid var(--status-ok-color);
  border-right: 3px solid var(--status-ok-color);
}

.warning_detail {
  color: var(--status-warning-color);
  background: var(--status-warning-dimmed-color-3);
  border-left: 3px solid var(--status-warning-color);
  border-right: 3px solid var(--status-warning-color);
}

.alert_detail {
  color: var(--status-alert-color);
  background: var(--status-alert-dimmed-color-3);
  border-left: 3px solid var(--status-alert-color);
  border-right: 3px solid var(--status-alert-color);
}

.running_detail {
  color: var(--status-running-color);
  background: var(--status-running-dimmed-color-3);
  border-left: 3px solid var(--status-running-color);
  border-right: 3px solid var(--status-running-color);
}

.critical_detail {
  color: var(--status-alert-dimmed-color-3);
  background: var(--status-alert-color);
  border-left: 3px solid var(--status-alert-dimmed-color-2);
  border-right: 3px solid var(--status-alert-dimmed-color-2);
}
