.mirrorContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.circleOverlay {
  stroke: #2d3d4e;
  stroke-width: 10px;
}

.mirrorContainer svg text {
  opacity: 1;
  transition: opacity 0.35s linear;
  font-size: 0.5em;
  stroke: #000;
  stroke-width: 0.2px;
  fill: white;
}

.mirrorContainer svg text.hidden {
  opacity: 0;
}

.state {
  display: flex;
  margin-right: 1em;
}

.state :first-child {
  margin-right: 0.5em;
}

.summaryState {
  border-radius: 0.2rem;
  font-weight: 700;
  text-align: center;
  width: 8em;
}

.summaryPanelStates {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 1em;
  margin-bottom: 1em;
}

.summaryPanelControls {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
}

.summaryPanelControls > .title {
  text-align: left;
  margin: 0;
}

.summaryPanelControls > .controls {
  width: 100%;
  display: flex;
  text-align: left;
}

.summaryPanelControls > .controls > .control {
  flex-grow: 1;
}

.summaryPanelControls > .controls > .control > span {
  margin-bottom: 0.5em;
  display: block;
}

.summaryPanelControls > .controls > div {
  margin-right: 1em;
}

.plotSection {
  margin: 4em 2em;
  display: flex;
}

.svgContainer {
  flex-grow: 2;
  padding-right: 64px;
}

.actuatorDetails {
  flex-grow: 1;
}

.forceGradientWrapper {
  height: 60%;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}

.forceGradientWrapper span:first-child {
  text-align: left;
}

.forceGradient {
  display: flex;
}

.forceGradient > svg {
  border-radius: 6em;
}

.forceGradientLabels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forceGradientLabels > span {
  margin-left: 1em;
}

.actuatorInfo {
  width: 200px;
  min-width: auto;
  display: block;
  text-align: left;
  padding: 1em;
}

.actuatorInfo h6 {
  margin: 0;
}

.forceSummary > * {
  margin-bottom: 1em;
}

.stopLeft {
  stop-color: #3f51b5; /* Indigo */
}

.stopRright {
  stop-color: #009688; /* Teal */
}

.filled {
  fill: url(#mainGradient);
}

.actuator {
  cursor: pointer;
}

.actuator:hover circle {
  stroke: white;
}
