.summaryAuthlistContainer {
    /* position: relative; */
}

.filters {
    display: flex;
    padding: 0.5em 0;
    margin-bottom: 0.5em;
}

.filters > * {
    margin-right: 0.5em;
}

.filters .label {
    display: flex;
    align-items: center;
    margin-right: 0.5em;
}

.filters input {
    line-height: 1em;
    height: 2.5em;
}

.filters .select {
    white-space: nowrap;
    flex: 0 0 200px;
}

.identitiesCell {
    display: flex;
    flex-wrap: wrap;
}

.authlistIdentity {
    background-color: var(--default-background-color);
    color: var(--default-font-color);
    padding: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 4px;
    display: inline-flex;
}

.authlistIdentity > :last-child {
    margin-left: 0.5em;
    cursor: pointer;
}

.removalTooltip {
    background-color: var(--second-tertiary-background-color);
    padding: 0.5em;
} 

.modalFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.borderedButton,
.borderedButton:focus {
    border: 1px solid var(--default-background-color);
}