.CSCRealmContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 1em 0;
  background: var(--second-primary-background-color);
  width: inherit;
}

.CSCGroupContainer {
  display: flex;
  flex-grow: 1;
  padding: 1em;
  max-height: 80%;
}

.CSCRealmTitle {
  font-size: var(--font-size-large);
  font-weight: bold;
  color: var(--base-font-color);
  text-transform: uppercase;
  text-align: left;
  padding-left: 1.5em;
}
