/* Normal fonts */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url('fonts/Montserrat-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('fonts/Montserrat-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/Montserrat-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/Montserrat-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/Montserrat-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/Montserrat-Bold.ttf') format('truetype');
}
/* Italic fonts */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  src: url('fonts/Montserrat-ThinItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  src: url('fonts/Montserrat-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/Montserrat-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/Montserrat-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: url('fonts/Montserrat-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: url('fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/Montserrat-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: url('fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  src: url('fonts/Montserrat-BlackItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: normal;
  src: url('fonts/Montserrat-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: bold;
  src: url('fonts/Montserrat-BoldItalic.ttf') format('truetype');
}

body {
  color: var(--base-font-color);
  background: var(--base-background-color);
  font-family: 'Montserrat';
  margin: 0;
}

:root {
  backface-visibility: hidden;
  --topbar-height: 2em;
  --content-padding: 1em;
  --base-font-color: hsl(194, 16%, 79%);
  --second-base-font-color: hsl(240, 4%, 90%, 0.7);
  --secondary-font-color: hsl(201, 15%, 54%);
  --secondary-font-dimmed-color: hsl(197, 13%, 59%, 0.3); /*Transparent*/
  --tertiary-font-color: hsl(201, 15%, 54%);
  --highlighted-font-color: hsl(0, 0%, 90%);

  --base-background-color: hsl(205, 40%, 8%);
  --secondary-background-color: hsl(200, 40%, 10%);
  --secondary-background-dimmed-color: hsl(200, 45%, 11%);
  --tertiary-background-color: hsl(201, 21%, 23%);
  --quaternary-background-color: hsl(202, 32%, 28%);
  --quinary-background-color: hsl(196, 16%, 28%);

  --overlay-background-color: hsla(205, 40%, 8%, 70%);

  --second-primary-background-color: hsl(202, 38%, 11%);
  --second-primary-background-color-dimmed: hsl(202, 38%, 11%, 0.5);
  --second-secondary-background-color: hsl(202, 36%, 13%);
  --second-tertiary-background-color: hsl(201, 26%, 23%);
  --second-quaternary-background-color: hsl(201, 24%, 30%);
  --second-quaternary-background-dimmed-color: hsl(201, 36%, 16%);
  --second-quinary-background-color: hsl(201, 22%, 40%);
  --second-senary-background-color: hsl(201, 40%, 81%);
  --second-senary-background-dimmed-color: hsl(201, 40%, 81%, 0.3);
  --sidebar-background-color: hsla(202, 36%, 13%, 90%);

  /* Status */
  --status-ok-color: hsl(161, 100%, 32%);
  --status-ok-dimmed-color: hsl(161, 100%, 32%, 0.2);
  --status-ok-dimmed-color-2: hsl(161, 100%, 20%);
  --status-ok-dimmed-color-3: hsl(173, 61%, 14%);
  --status-warning-color: hsl(57, 100%, 47%);
  --status-warning-dimmed-color: hsl(57, 100%, 47%, 0.2);
  --status-warning-dimmed-color-2: hsl(57, 100%, 27%);
  --status-warning-dimmed-color-3: hsl(74, 39%, 20%);
  --status-alert-color: hsl(23, 99%, 44%);
  --status-alert-dimmed-color: hsl(23, 99%, 44%, 0.2);
  --status-alert-dimmed-color-2: hsl(23, 99%, 27%);
  --status-alert-dimmed-color-3: hsl(24, 31%, 18%);
  --status-disabled-color: hsl(202, 44%, 13%);
  --status-disabled-dimmed-color: hsl(202, 44%, 13%, 0.2);
  --status-disabled-dimmed-color-2: hsl(202, 20%, 20%);
  --status-running-color: hsl(188, 79%, 56%);
  --status-running-dimmed-color: hsl(188, 79%, 56%, 0.2);
  --status-running-dimmed-color-2: hsl(191, 52%, 20%);
  --status-running-dimmed-color-3: hsl(191, 52%, 20%);

  /* Script status */
  --script-ok-color: hsl(188, 79%, 56%);
  --script-ok-dimmed-color: hsl(188, 79%, 56%, 0.2);
  --box-shadow-color: rgba(0, 0, 0, 0.17);

  --default-background-color: #4c606a;
  --default-font-color: #aabeca;
  --default-active-background-color: #384850;
  --default-active-font-color: #92a2ac;
  --primary-active-hover-background-color: #92a2ac;

  /* --primary-background-color: #4c7487; */
  --primary-background-color: hsl(199, 28%, 41%);
  --primary-shadow-color: hsl(199, 28%, 28%);
  --primary-font-color: #b2c4ce;
  --primary-active-background-color: #3b5d6e;
  --primary-active-font-color: #8d9ea7;
  --primary-active-hover-background-color: #8d9ea7;

  --success-background-color: #57b18a;
  --success-font-color: #acffd6;
  --success-active-background-color: #4c9978;
  --success-active-font-color: #77d9b9;
  --success-active-hover-background-color: #428568;

  --info-background-color: hsl(191, 58%, 60%);
  /* --info-background-color: #5cbed4; */
  /* --info-shadow-color: #1e94af; */
  --info-shadow-color: hsl(191, 58%, 40%);
  --info-font-color: #122028e6;
  --info-hover-background-color: #58b0c4;
  --info-hover-font-color: #122028e6;
  --info-active-background-color: #58b0c4;
  --info-active-font-color: #122028e6;
  --info-active-hover-background-color: #45a1b5;
  --info-active-hover-border-color: #3e707b;

  --warning-background-color: #cec34b;
  --warning-font-color: #fffaf6;
  --warning-hover-background-color: #c0b53f;
  --warning-hover-font-color: #eee6d0;
  --warning-active-background-color: #c0b53f;
  --warning-active-font-color: #eee6d0;
  --warning-active-hover-background-color: #b1a73d;

  --danger-background-color: #d47230;
  --danger-font-color: #fcefe8;
  --danger-hover-background-color: #b86229;
  --danger-hover-font-color: #e7cdc2;
  --danger-active-background-color: #b86229;
  --danger-active-font-color: #e7cdc2;
  --danger-active-hover-background-color: #ad5d28;

  --link-focus-font-color: red;
  --link-font-color: #fcefe8;
  --link-hover-font-color: #667986;
  --link-active-font-color: #667986;

  --font-size-smaller: 0.6em;
  --font-size-small: 0.8em;
  --font-size-medium: 1em;
  --font-size-large: 1.2em;
  --font-size-larger: 1.4em;
}

/* width */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--tertiary-background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: var(--quinary-background-color); */
  background: var(--tertiary-font-color);
  border-radius: 1.1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-font-color);
}

/* Toasts */
.Toastify__toast.Toastify__toast--success {
  background: var(--status-ok-dimmed-color-3);
  color: var(--status-ok-color);
  border-radius: 4px;
}

.Toastify__close-button.Toastify__close-button--success {
  color: #00a370e8;
}

.Toastify__toast.Toastify__toast--success .Toastify__progress-bar {
  background-color: #00a370e8;
}

.Toastify__toast.Toastify__toast--info {
  background: var(--status-running-dimmed-color-3);
  color: var(--status-running-color);
  border-radius: 4px;
}

.Toastify__close-button.Toastify__close-button--info {
  color: var(--status-running-color);
}

.Toastify__toast.Toastify__toast--info .Toastify__progress-bar {
  background-color: var(--status-running-color);
}

.Toastify__toast.Toastify__toast--warning {
  background: var(--status-warning-dimmed-color-3);
  color: var(--status-warning-color);
  border-radius: 4px;
}

.Toastify__close-button.Toastify__close-button--warning {
  color: var(--status-warning-color);
}

.Toastify__toast.Toastify__toast--warning .Toastify__progress-bar {
  background-color: var(--status-warning-color);
}

.Toastify__toast.Toastify__toast--error {
  background: var(--status-alert-dimmed-color-3);
  color: var(--status-alert-color);
  border-radius: 4px;
}

.Toastify__close-button.Toastify__close-button--error {
  color: var(--status-alert-color);
}

.Toastify__toast.Toastify__toast--error .Toastify__progress-bar {
  background-color: var(--status-alert-color);
}
