.hexapodContainer {
    width: 100%;
    display: inline-flex;
    background: var(--second-quaternary-background-dimmed-color);
}

.summaryPanel {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
  }

.summaryDetail {
    display: grid;
}

.summaryStatusDetail {
    display: flex;
}

.divTables {
    width: 100%;
    margin: 0 auto;
}

.titles {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.summaryState {
    border-radius: 1rem;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    width: 8em;
}