.hexapodContainer {
    width: 100%;
    display: inline-flex;
    background: var(--second-quaternary-background-dimmed-color);
    margin-bottom: 20px;
    border-radius: 15px;
}

.summaryPanel {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    grid-template-columns: 1fr 1.2fr;
  }

.summaryDetail {
    display: grid;
}

.summaryStatusDetail {
    display: flex;
}

.summaryState {
    border-radius: 1rem;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    width: 8em;
}

.divTables {
    width: 100%;
    margin: 0 auto;
}

.titles {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    margin-bottom: 2em;
}

.summaryState {
    border-radius: 1rem;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    width: 8em;
}

.hover {
    background-color: red;
    top: 20px !important;
    left: 0 !important;
    background-color: var(--second-tertiary-background-color);
    padding: 0.5em;
    width: 160px;
    border-radius: 0.5em;
}

.alert {
    color: var(--status-alert-color);
}

.ok {
    color: var(--status-ok-color);
}