.container {
    /* background-color: var(--second-secondary-background-color); */
    border-radius: 0.5em;
    box-sizing: border-box;
    width: 100%;
    padding: 1em 2em;
    /* border: 3px solid var(--second-primary-background-color); */
    border-radius: 0.5em;
}

.summaryPanel {
    display: contents;
    padding: 20px;
    width: 100%;
}

.headersLeft {
    display: inline-table;
    float: left;
    width: 26%;
}

.headersCenter {
    display: inline-table;
    margin: 0 auto;
}

.headersRigth {
    display: inline-table;
    float: right;
}

.gearIcon {
    width: 5%;
    padding-left: 1em;
}