.summaryTable {
  display: grid;
  grid-template-columns: 1fr minmax(13.5em, 1fr);
  grid-auto-rows: max-content;
  grid-row-gap: 0.2em;
  padding: 0 2em;
  max-width: 25em;
  min-width: 20em;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: var(--second-quaternary-background-dimmed-color);
  padding: 2em 1em;
  align-self: center;
}

.summaryTable .title {
  margin-right: auto;
  font-size: var(--font-size-larger);
  color: var(--base-font-color);
  padding-top: 1em;
}

.summaryTable .title + .value {
  padding-top: 1.5em;
}

.summaryTable .title:first-of-type {
  padding-top: 0;
}

.summaryTable .title:first-of-type + .value {
  padding-top: 0;
}

.summaryTable .label {
  text-align: left;
  padding-left: 0.4rem;
  line-height: 2em;
}

.summaryTable .value {
  /* font-size: var(--font-size-large); */
  padding: 0.2em 2em;
  color: var(--base-font-color);
}

.summaryTable .wide {
  grid-column: span 2;
  padding-right: 1em;
}

.summaryTable .subRow {
  text-align: left;
  margin-top: -1.56rem;
  margin-bottom: -0.8rem;
  font-size: var(--font-size-small);
}

.summaryTable .subRow .value {
  margin-right: auto;
  padding: 0.2em 0.5em;
}

@media (min-width: 1600px) {
  .summaryTable {
    margin-left: 2em;
  }
}
