.svg {
  vertical-align: middle;
}

.cls-1 {
  fill: #122632;
  opacity: 0.99;
}

.cls-2 {
  fill: #1ecfe8;
}

.cls-1, .cls-2 {
  fill-rule: evenodd;
}

.cls-3 {
  fill: #2b414d;
  stroke: #1ecfe8;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
}
