.container {
  width: 35em;
}

.st1,
.st2 {
  fill: hsl(201, 40%, 16%);
  stroke: hsl(197, 34%, 23%);
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st2 {
  fill: none;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.highlighted {
  fill: #bcd8e2;
  stroke: #ffffff;
  fill-opacity: 0.45;
}