.container {
  width: 35em;
}

.st1,
.st2 {
  fill: hsl(201, 40%, 16%);
  stroke: hsl(197, 34%, 23%);
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st2 {
  fill: none;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.highlighted {
  fill: #bcd8e2;
  stroke: #ffffff;
  fill-opacity: 0.45;
}

.disabled {
  stroke: hsl(197, 34%, 23%);
  fill: #bcd8e2;
  fill-opacity: 0.45;
}

.moving {
  fill: var(--status-running-color);
  stroke: var(--status-running-color);
}

.ok {
  fill: var(--status-ok-color);
  stroke: var(--status-ok-color);
}

.warning {
  fill: var(--status-warning-color);
  stroke: var(--status-warning-color);
}