.cableWrapsContainer {
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: 100%;  
    margin-top: 0;
}

.cableWrapsContainer .cableWrapsContent {
    display: flex;
    color: #96a3b3;
    background: var(--theme-div-background);
    margin: 5px;
    height: 100%;
    margin-top: 0;
    padding-right: 5px;
    padding-left: 20px;
}

.rotatorDiff {
    font-size: 17px;
    margin-bottom: 0;
    margin-left: 10px;
}

.rotatorDiffValue {
    font-weight: bold;
    margin-left: 10px;
}

.camCable {
}

.cableWrapSeparator {
    height: 290px;
    width: 3px;
    margin: 50px 40px;
    border-radius: 10px;
    background: #2d3d4e;
}