.CSCGroupContainer{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 1em;
  background: var(--second-tertiary-background-color);
}

.CSCDetailsContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.CSCDetailContainer{
  display: flex;
  padding: 1em;
}