.CSCGroupContainer{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 1em 0em;
  background: var(--second-secondary-background-color);
}

.CSCDetailsContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.CSCDetailContainer{
  display: flex;
  padding: 0.4em 0.5em;
}