.div {
  display: inline-flex;
  grid-template-columns: 1fr 1.2fr;
}

.h3 {
  flex-wrap: wrap;
  width: 100%;
  float: left;
}

.div2 {
  display: flex;
  flex-wrap: wrap;
  margin-right: 50px;
  /* background-color: var(--second-quinary-background-color); */
}

.separator {
  /*transform: translateY(0.2em);*/
  height: 700px;
  padding: 2em;
  border-left: 3px solid gray;
  /* transform: translateY(0.2em); */
}

.system {
  border: 1px solid gray;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  padding: 1.5em;
}

.signal {
  padding: 1em;
  border: 1px solid gray;
  margin-bottom: 0.5em;
  flex: 1 1 50%;
  padding-bottom: 1em;
}

.inactive {
  opacity: 0.4;
  background-color: gray;
  border-color: gray;
}
