.div {
  display: flex;
  align-items: flex-start;
  background-color: var(--second-primary-background-color);
  height: 100%;
}

.h3 {
  width: 100%;
}

.div2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.separator {
  margin: 4em 2em;
  border-left: 2px solid gray;
  padding: 1em 0;
  height: calc(100% - 8em);
}

.system {
  border: 3px solid var(--second-primary-background-color);
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  padding: 1.5em;
  width: calc(50% - var(--content-padding));
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: var(--second-secondary-background-color);
}

.system:nth-child(even) {
  margin-right: var(--content-padding);
}

.signal {
  padding: 1em;
  border: 1px solid var(--tertiary-background-color);
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  background-color: var(--tertiary-background-color);
  box-sizing: border-box;
  flex: 1 1 auto;
  word-break: break-all;
}

.system h3 {
  flex: 1 1 100%;
}

.inactive {
  opacity: 0.1;
  background-color: var(--second-quaternary-background-dimmed-color);
  border-color: gray;
}

.alert {
  background-color: #3c2b20;
  border-color: #3c2b20;
  color: #dd5602;
}

.alertSystem {
  border: 3px solid #3c2b20;
}

.signal:hover {
  border: 1px solid white;
}
