.div {
  display: inline-flex;
}

.div2 {
  margin-right: 50px;
  width: 430px;
  height: 650px;
  background-color: var(--second-quinary-background-color);
}

.separator {
  color: red;
  border-top: 1px solid var(--default-background-color);
  padding: 0.3em;
  transform: translateY(0.2em);
}

.system {
  border: 1px solid gray;
  margin-bottom: 0.5em;
}

.signal {
  padding: 1em;
  border: 1px solid gray;
  margin-bottom: 0.5em;
}

.inactive {
  /* opacity: 0.4; */
  background-color: black;
}
