.div {
  display: flex;
  align-items: flex-start;
  background-color: var(--overlay-background-color);
}

.h3 {
  width: 100%;
}

.div2 {
  display: flex;
  flex-wrap: wrap;
  /* align-items: flex-start; */
  margin-right: 50px;
  /* background-color: var(--second-quinary-background-color); */
}

.separator {
  /*transform: translateY(0.2em);*/
  height: 700px;
  padding: 2em;
  border-left: 3px solid gray;
  /* transform: translateY(0.2em); */
}

.system {
  border: 1px solid var(--second-senary-background-dimmed-color);
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  margin-right: var(--content-padding);
  padding: 1.5em;
  width: calc(50% - var(--content-padding));
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: var(--second-primary-background-color);
}

.signal {
  padding: 1em;
  border: 1px solid var(--second-senary-background-dimmed-color);
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  /* background-color: var(--second-senary-background-dimmed-color); */
  background-color: var(--tertiary-background-color);
  box-sizing: border-box;
  flex: 1 1 auto;
  word-break: break-all;
}

.system h3 {
  flex: 1 1 100%;
}

.inactive {
  opacity: 0.1;
  background-color: var(--second-quaternary-background-dimmed-color);
  border-color: gray;
}

.alert {
  background-color: var(--status-alert-dimmed-color-2);
  border: 1px solid white;
}
