.time-window-selection-span {
  font-weight: bold;
  width: 5rem;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.time-window-selection-input:checked + span {
  border-bottom: 0.4rem solid #fff;
  padding-bottom: 0rem;
  color: #fff;
  cursor: pointer;
}

.time-window-selection-span {
  font-size: 1rem;
  padding-bottom: 0.14rem;
  border-bottom: 0.14rem solid #96a3b3;
  cursor: pointer;
}

input.time-window-selection-input {
  display: none;
}

.time-window-selection-label {
  height: 2.86rem;
  cursor: pointer;
  margin-bottom: 0rem;
  border-radius: 0.36rem;
  font-size: small;
}
