.grid {
  display: grid;
}

.autoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  column-gap: 0.5em;
}

.cell {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 0.2em;
  align-items: center;
}
