:root{
    --scrollbar-width: 10px;
}

.rawTelemetryTable {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}


.rawTelemetryTable thead {
    display: table;
    table-layout:fixed;
    width: calc(100% - var(--scrollbar-width));
    word-wrap:break-word;
}
.rawTelemetryTable  tbody {
    background: var(--secondary-background-color);
    display: block;
    height: 85vh; /* necessary for scroll */
    width: calc(100%);
    overflow-y: scroll;
    overflow-x: hidden;
}
tbody tr {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.rawTelemetryTable th, td {
    width: auto;
}

.rawTelemetryTable th {
    border: 2px solid var(--base-background-color);
    background: var(--tertiary-background-color);
    padding: 0em 0.5em;
}


.rawTelemetryTable tr:hover.dataRow{
    background: var(--tertiary-background-color);
}

.rawTelemetryTable tr:hover td{
    border-bottom: 1px solid var(--secondary-background-color);
    border-top: 1px solid var(--secondary-background-color);
}

.rawTelemetryTable tr:hover.expandedRow td{
    border-bottom: 1px solid var(--secondary-background-color);
    border-top: 1px solid transparent;
}

.rawTelemetryTable tr:nth-child(even) {
    background: var(--secondary-background-dimmed-color);
}

.dataRow {
    cursor: pointer;
}

.rawTelemetryTable th:first-of-type {
    border-top-left-radius: 7px;
}

.rawTelemetryTable th:last-of-type {
    border-top-right-radius: 7px;
}

.rawTelemetryTable td {
    color: var(--secondary-font-color);
    padding: 0.4em 1em;
    word-wrap:break-word;
    max-width: 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid var(--base-background-color);
    border-right: 1px solid var(--base-background-color);
}

.rawTelemetryTable td.string {
    text-align: left;
}

.rawTelemetryTable td.number {
    text-align: right;
}

.rawTelemetryTable .valueCell {
    padding: 0.4em 0.5em;
    word-wrap:break-word;
    word-wrap: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.rawTelemetryTable td input {
    min-width: 10px;
    width: 100%;
}

.rawTelemetryTable tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 7px;
}

.rawTelemetryTable tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 7px;
}

.rawTelemetryTable .healthStatusWrapper {
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.rawTelemetryTable .healthStatusCell.selectedHealthStatus {
    background: var(--tertiary-background-color);
    border-bottom: 1px solid var(--tertiary-background-color);
}

.rawTelemetryTable .editIconWrapper {
    position: absolute;
    right: 0;
    width: 16px;
    min-width: 16px;
}

.rawTelemetryTable .statusTextWrapper {
    flex-grow: 1;
    padding: 0.0em 1.5em;
}

.rawTelemetryTable .snippetsContainer {
    /* display: flex; */
}

.rawTelemetryTable .snippetsList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}


.rawTelemetryTable .snippetButtonWrapper {
    padding: 0.3em 1em;
    flex-grow: 1;
}

.rawTelemetryTable .setButton {
    padding: 0em 2em;
    margin: auto;
    background: var(--quaternary-background-color);
}

.rawTelemetryTable .snippetButton {
    width: 100%;
    height: auto;
    padding: 0;
}

.rawTelemetryTable .snippetButton span {
    padding: 0.25em 0.5em;
    height: auto;
}

.rawTelemetryTable .valuesList {
    counter-reset: values-list-counter -1;
    list-style: none;
    -webkit-padding-start: 0;
    position: relative;
}


.rawTelemetryTable .valuesListItem::before {
    content: counter(values-list-counter) ". ";
    color: var(--secondary-font-dimmed-color);
    white-space: pre-wrap;
    font-family: monospace;
    text-align: right;
    position: absolute;
    width: 4em;
}


.rawTelemetryTable .valuesListItem {
    counter-increment: values-list-counter;
    padding: 0 0.4em;
}

.rawTelemetryTable .valuesListItemValue {
    position: relative;
    padding: 0 0.4em;
    left: 3em;
}
/* .rawTelemetryTable .addedColumn {
    width: 5%;
} */

.rawTelemetryTable .expandedRow {
    text-align: left;
    background: var(--tertiary-background-color);
}

.rawTelemetryTable tr:nth-child(even).expandedRow {
    background: var(--tertiary-background-color);
}

.rawTelemetryTable .expandedRow td {
    vertical-align: top;
    border: 1px solid transparent;
    padding: 1em;
}

.rawTelemetryTable .expandedRow p {
    line-height: 0;
}

.rawTelemetryTable .expandedRow textarea {
    background: var(--secondary-background-dimmed-color);
    color: var(--base-font-color);
    border: none;
    width: calc(100% - 3em);
    margin-left: 2em;
    height: 12em;
    font-size: 1em;
    resize: none;
    border-radius: 5px;
    padding: 0.6em 0.6em;
}

.rawTelemetryTable .healthStatusCell {
    padding: 0.4em 0.5em;
    border-bottom: 1px solid transparent;
    cursor: pointer;    
}

.rawTelemetryTable .healthStatusCell:hover {
    background: var(--tertiary-background-color);
}

.rawTelemetryTable .healthStatusCell:hover .editIconWrapper {
    visibility: visible;
}

/* width */
.rawTelemetryTable ::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

/* Track */
.rawTelemetryTable ::-webkit-scrollbar-track {
    background: var(--tertiary-background-color); 
}
 
/* Handle */
.rawTelemetryTable ::-webkit-scrollbar-thumb {
    background: var(--quinary-background-color);
}

/* Handle on hover */
.rawTelemetryTable ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-font-color);
}