:root{
    --scrollbar-width: 10px;
}

.rawTelemetryTableWrapper {
    height: calc(100% - 40px);
    background: var(--base-background-color);
    min-width: 1350px;
}

.rawTelemetryTable {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    height: calc(100% - 60px);
}

.rawTelemetryTable thead {
    display: table;
    table-layout:fixed;
    width: calc(100% - var(--scrollbar-width));
    word-wrap:break-word;
}
.rawTelemetryTable tbody {
    /* background: var(--secondary-background-color); */
    display: block;
    height: inherit; /* necessary for scroll */
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.rawTelemetryTable tbody tr {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.rawTelemetryTable th, td {
    width: auto;
}

.rawTelemetryTable th {
    border: 2px solid var(--base-background-color);
    background: var(--tertiary-background-color);
    padding: 0em 0.5em;
    padding-left: 1em;
    text-align: left;
}

.rawTelemetryTable .narrowCol {
    width: 7%;
}

.rawTelemetryTable .mediumCol {
    width: 9%;
}

.rawTelemetryTable .wideCol {
    width: 12%;
}

.rawTelemetryTable tr:hover.dataRow{
    background: var(--tertiary-background-color);
}

.rawTelemetryTable tr:hover td{
    border-bottom: 1px solid var(--secondary-background-color);
    border-top: 1px solid var(--secondary-background-color);
}

.rawTelemetryTable tr:hover.expandedRow td{
    border-bottom: 1px solid var(--secondary-background-color);
    border-top: 1px solid transparent;
}

.rawTelemetryTable tr:nth-child(even) {
    background: var(--secondary-background-dimmed-color);
}

.rawTelemetryTable tr:nth-child(odd) {
    background: var(--secondary-background-color);
}

.dataRow {
    /* cursor: pointer; */
}

.rawTelemetryTable th:first-of-type {
    border-top-left-radius: 7px;
}

.rawTelemetryTable th:last-of-type {
    border-top-right-radius: 7px;
}

.rawTelemetryTable td {
    color: var(--secondary-font-color);
    padding: 0.4em 1em;
    word-wrap:break-word;
    max-width: 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid var(--base-background-color);
    border-right: 1px solid var(--base-background-color);
}

.rawTelemetryTable td.string {
    text-align: left;
}

.rawTelemetryTable td.number {
    text-align: right;
}

.rawTelemetryTable .valueCell {
    padding: 0.4em 0.5em;
    word-wrap:break-word;
    word-wrap: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.rawTelemetryTable td input {
    min-width: 10px;
}

.rawTelemetryTable tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 7px;
}

.rawTelemetryTable tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 7px;
}

.rawTelemetryTable .healthStatusWrapper {
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.rawTelemetryTable .healthStatusCell.selectedHealthStatus {
    background: var(--tertiary-background-color);
    border-bottom: 2px solid var(--tertiary-background-color);
}

.rawTelemetryTable .gearIconWrapper {
    position: absolute;
    right: 0;
    width: 1.5em;
    min-width: 1em;
    cursor: pointer;
    padding-right: 0.3em;
}

.rawTelemetryTable .statusTextWrapper {
    flex-grow: 1;
    padding: 0.0em 1.5em;
    margin-right: 2em;
}

.rawTelemetryTable .snippetsContainer {
    /* display: flex; */
}

.rawTelemetryTable .snippetsList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}


.rawTelemetryTable .snippetButtonWrapper {
    padding: 0.3em 1em;
    padding-left:0;
    flex-grow: 1;
}

.rawTelemetryTable .setButton {
    padding: 0em 2em;
    margin: auto;
    display:flex;
}

.rawTelemetryTable .snippetButton {
    width: 100%;
    height: auto;
    padding: 0;
}

.rawTelemetryTable .snippetButton span {
    padding: 0.25em 0.5em;
    height: auto;
}

.rawTelemetryTable .valuesList {
    counter-reset: values-list-counter -1;
    list-style: none;
    -webkit-padding-start: 0;
    position: relative;
}


.rawTelemetryTable .valuesListItem::before {
    content: counter(values-list-counter) ". ";
    color: var(--secondary-font-dimmed-color);
    white-space: pre-wrap;
    font-family: monospace;
    text-align: right;
    position: absolute;
    width: 4em;
}


.rawTelemetryTable .valuesListItem {
    counter-increment: values-list-counter;
    padding: 0 0.4em;
}

.rawTelemetryTable .valuesListItemValue {
    position: relative;
    padding: 0 0.4em;
    left: 3em;
}
/* .rawTelemetryTable .addedColumn {
    width: 5%;
} */

.rawTelemetryTable .firstColumn {
    width: 1em;
    background: var(--base-background-color);
    padding: 0em 0.5em;
    text-align: center;
    border: 2px solid var(--base-background-color)
}

.rawTelemetryTable .firstColumn input {
    margin: 0;
}

.rawTelemetryTable .expandedRow {
    text-align: left;
    background: var(--tertiary-background-color);
}

.rawTelemetryTable tr:nth-child(even).expandedRow {
    background: var(--tertiary-background-color);
}

.rawTelemetryTable .expandedRow td {
    vertical-align: top;
    border: 1px solid transparent;
    padding: 1em;
}

.rawTelemetryTable .expandedRow p {
    line-height: 0;
}

.rawTelemetryTable .expandedRow textarea {
    background: var(--secondary-background-dimmed-color);
    color: var(--base-font-color);
    border: none;
    width: calc(100% - 3em);
    margin-left: 2em;
    height: 13em;
    font-size: 1em;
    resize: none;
    border-radius: 5px;
    padding: 0.6em 0.6em;
}

.rawTelemetryTable .healthStatusCell {
    padding: 0.4em 0.5em;
    border-bottom: 1px solid transparent;
}

.rawTelemetryTable .healthStatusCell:hover {
    background: var(--tertiary-background-color);
}

.rawTelemetryTable .healthStatusCell:hover .gearIconWrapper {
    visibility: visible;
}

/* width */
.rawTelemetryTable ::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

/* Track */
.rawTelemetryTable ::-webkit-scrollbar-track {
    background: var(--tertiary-background-color); 
}
 
/* Handle */
.rawTelemetryTable ::-webkit-scrollbar-thumb {
    /* background: var(--quinary-background-color); */
    background: var(--tertiary-font-color);
    border-radius: 1.1em;
}

/* Handle on hover */
.rawTelemetryTable ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-font-color);
}

/* for describing sections in the expandable row */
.statusConfigTitle, .snippetsTitle{ 
    color: var(--base-font-color);
    margin-bottom: 0.2em;
}

.statusConfigTitle {
    margin-top:0.8em;
}

.lineJump{
    white-space: pre;
}

.statusList {
    font-size:small;
}

.selectionContainer {
    display:flex;
    align-items:center;
    color: var(--base-font-color);
    text-align:left;
    padding: 1em;
    background: var(--base-background-color);
}

.selectionList{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    background:#cfd7d9;
    width:100%;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    padding: 4px 6px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px;
    cursor: text;    
    box-sizing: border-box;
    min-height:2em;
    margin-left:0.5em;
}

button.selectionSetButton {
    margin-left: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 14pt;
    border-radius: 0.3em;
    padding-top:0.3em;
}

.hidden {
    visibility: hidden;
}