.rawTelemetryTable {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.rawTelemetryTable tbody {
    background: var(--secondary-background-color);
}

.rawTelemetryTable th {
    border: 2px solid var(--base-background-color);
    background: var(--tertiary-background-color);
    text-transform: uppercase;
    padding: 0.5em;
}

.rawTelemetryTable tr:hover.dataRow{
    background: var(--tertiary-background-color);
}
.rawTelemetryTable tr:nth-child(even) {
    background: var(--secondary-background-dimmed-color);
}

.dataRow {
    cursor: pointer;
}

.rawTelemetryTable th:first-of-type {
    border-top-left-radius: 7px;
}

.rawTelemetryTable th:last-of-type {
    border-top-right-radius: 7px;
}

.rawTelemetryTable td {
    color: var(--secondary-font-color);
    padding: 0.4em 1em;
    word-wrap:break-word;
    max-width: 0;
    border-top: 2px solid var(--base-background-color);
    border-bottom: 2px solid var(--base-background-color);
    border-left: 1px solid var(--base-background-color);
    border-right: 1px solid var(--base-background-color);
}

.rawTelemetryTable .healthStatusCell {
    padding: 0.4em 0.5em;
    border-bottom: none;
}

.rawTelemetryTable .valueCell {
    padding: 0.4em 0.5em;
    word-wrap:break-word;
    word-wrap: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.rawTelemetryTable td input {
    min-width: 10px;
    width: 100%;
}

.rawTelemetryTable tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 7px;
}

.rawTelemetryTable tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 7px;
}

.rawTelemetryTable .healthStatusWrapper {
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.rawTelemetryTable tr:nth-child(even) .selectedHealthStatus {
    background: var(--secondary-background-color);
}

.rawTelemetryTable tr:nth-child(odd) .selectedHealthStatus {
    background: var(--secondary-background-dimmed-color);
}

.rawTelemetryTable .editIconWrapper {
    position: absolute;
    visibility: hidden;
    right: 0;
    width: 16px;
    min-width: 16px;
}

.rawTelemetryTable tr:hover .editIconWrapper {
    visibility: visible;
}

.rawTelemetryTable .statusTextWrapper {
    flex-grow: 1;
    padding: 0.0em 1.5em;
}

.rawTelemetryTable .expandedRow {
    text-align: left;
}

.rawTelemetryTable .expandedRow td {
    vertical-align: top;
    border: none;
    padding: 1em;
}

.rawTelemetryTable .expandedRow p {
    line-height: 0;
}

.rawTelemetryTable .expandedRow textarea {
    background: var(--tertiary-background-color);
    color: var(--base-font-color);
    border: none;
    width: calc(100% - 3em);
    margin-left: 2em;
    height: 12em;
    font-size: 1em;
    resize: none;
}

.rawTelemetryTable .snippetsContainer {
    /* display: flex; */
}

.rawTelemetryTable .snippetsList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.rawTelemetryTable .snippetButtonWrapper {
    padding: 0.3em 1em;
    flex-grow: 1;
}

.rawTelemetryTable .setButton {
    padding: 0em 2em;
    margin: auto;
}

.rawTelemetryTable .snippetButton {
    width: 100%;
    height: auto;
    padding: 0;
}

.rawTelemetryTable .snippetButton span {
    padding: 0.25em 0.5em;
    height: auto;
}

.rawTelemetryTable .valuesList {
    display: flex;
    flex-wrap: wrap;
}

.rawTelemetryTable .valuesListIndex {
    color: var(--secondary-font-dimmed-color);
    white-space: pre-wrap;
    font-family: monospace;
}

.rawTelemetryTable .valuesListItem {
    padding: 0 0.4em;
}