.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  overflow: hidden;
  column-gap: 1em;
  row-gap: 1em;
}

.section {
  display: grid;
  grid-template-rows: min-content 1fr;
  width: 100%;
  overflow: hidden;
  border: 2px solid var(--second-tertiary-background-color);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0.5em;
}

.sectionTitle {
  color: var(--base-font-color);
  font-size: var(--font-size-large);
  padding: 0.5em;
}

.doubleSection {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / span 2;
  width: 100%;
  overflow: hidden;
  border: 2px solid var(--second-tertiary-background-color);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0.5em;
}

.doubleSection .sectionTitle {
  grid-column: 1 / span 2;
}

.plot {
  width: 100%;
  overflow: hidden;
}

.summary {
  border-radius: 0px;
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.summaryVariable {
  border-radius: 0px;
}

.summaryLabel {
  font-size: var(--font-size-large);
}

.summaryValue {
  color: var(--base-font-color);
  font-size: var(--font-size-larger);
}
