
.columnHeader {
    text-transform: uppercase;
    padding: 0.75em 0em 0.4em;
    position:relative;
}

.primaryText {
    display: block;
}

.secondaryText {
    font-size: 0.65em;
    color: var(--secondary-font-color);
}
