:root {
  --scrollbar-width: 10px;
}

.container {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: stretch;
  font-size: 12px;
}

.input {
  background-color: var(--second-secondary-background-color);
  color: var(--base-font-color);
  border: 1px solid var(--secondary-font-dimmed-color);
  width: 10ch;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

.input::placeholder {
  color: var(--secondary-font-color);
}

.select {
  width: 30ch;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.category {
  width: 12ch;
}

.select::placeholder {
  color: var(--secondary-font-color);
}

.button {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  height: 2.5em;
}
