.label {
  font-size: var(--font-size-medium);
  color: var(--secondary-font-color);
  text-align: left;
  white-space: pre;
/*   padding-left: 0.4rem; */
}

.value {
  color: var(--base-font-color);
  text-align: right;
  padding: 0.2em 2em;
  padding-right: 0em;
}

.containerTop {
  display: grid;
  justify-content: flex-start;
  padding: 1em;
}

.containerBottom {
  position: relative;
  margin-top: 8px;
}

.title {
  text-align: left;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: var(--base-font-color);
}

.labelValue {
  position: absolute;
  /* bottom: -1.8em; */
  grid-template-columns: 1fr 1.2fr;
  /* margin-bottom: 1em; */
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
