.tagContainer {
    background-color:#afbfc5;
    color:#414b51;
    margin-left:0.5em;
    padding-top:0.15em;
    font-size:14pt;
    border-radius:0.3em;
    cursor:default;
    user-select:none;
}
.remove {
    font-size: 1em;
    color: var(--secondary-background-dimmed-colo);
    margin-left: 0.2em;
    cursor:pointer;
}