.topbar {
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  background-color: var(--tertiary-background-color);
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0.5em var(--content-padding);
}

.leftTopbar {
  text-align: left;
}

.rightTopbar {
  text-align: right;
}

.hidden {
  visibility: hidden;
}

.contentWrapper {
  margin: 0;
  padding: var(--content-padding);
  overflow: auto;
  height: calc(100vh - 4em);
  will-change: transform;
}
