.latissContainer {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 300px));
  grid-template-rows: 1fr;
  text-align: left;
  color: var(--base-font-color);
}

.latissContainer > div {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 200px;
  border-right: 1px solid var(--second-quaternary-background-dimmed-color);
}

div.ccdContainer {
  border-right: none;
}

.sectionTitle {
  font-size: var(--font-size-medium);
  padding: 1em;
  font-weight: bold;
}

.svgLightpath {
  fill: blue;
  stroke: white;
  opacity: 0.2;
}

.lightpathElement rect {
  fill: var(--second-tertiary-background-color);
}

.wheelSelector {
  display: grid;
  grid-template-columns: min-content minmax(20px, 1fr) minmax(20px, 1fr) minmax(20px, 1fr) minmax(20px, 1fr);
  grid-template-rows: min-content 1fr 2fr;
  justify-items: center;
  align-items: center;
}

.selectionBoxLabel {
  font-size: var(--font-size-small);
}

.selectionBox {
  width: 1.4em;
  height: 1.4em;
  background: var(--second-tertiary-background-color);
  border: 1px solid var(--second-quaternary-background-color);
  border-radius: 0.1em;
  cursor: pointer;
}

.filterName {
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.filterName.selected::after {
  content: '';
  position: absolute;
  top: -12px;
  left: calc(50% - 0.5px);
  height: 8px;
  border-right: 1px solid white;
}

div.selected {
  background: var(--second-senary-background-color);
  border: 1px solid white;
}

span.selected {
  font-weight: bold;
}