.skymapContainer {
  /* display: flex; */
  flex-wrap: wrap;
  position: relative;
  width: fit-content;
}

.skymapGridContainer {
  /* display: flex; */
  flex-wrap: wrap;
  position: relative;
  width: fit-content;
}

.skymapGridContainer svg {
  vertical-align:top;
}

.skymapContainer h2 {
  text-align: left;
}

.grid {
}

.svgOverlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}