
.cls-1,
.cls-19,
.cls-27,
.cls-28,
.cls-29,
.cls-30,
.cls-31,
.cls-32,
.cls-33,
.cls-34,
.cls-35,
.cls-36,
.cls-37,
.cls-38,
.cls-40,
.cls-47,
.cls-6 {
  fill: none;
}
.cls-2 {
  fill: #0d171e;
}
.cls-3 {
  fill: #2b353e;
}
.cls-4,
.cls-7 {
  fill: #798f9b;
}
.cls-4 {
  opacity: 0.25;
}
.cls-5 {
  fill: #122028;
  stroke: #172f3a;
}
.cls-27,
.cls-28,
.cls-29,
.cls-30,
.cls-31,
.cls-32,
.cls-33,
.cls-34,
.cls-35,
.cls-36,
.cls-37,
.cls-38,
.cls-40,
.cls-46,
.cls-47,
.cls-5,
.cls-6 {
  stroke-miterlimit: 10;
}
.cls-5,
.cls-6 {
  opacity: 0.85;
}
.cls-27,
.cls-28,
.cls-29,
.cls-30,
.cls-31,
.cls-32,
.cls-33,
.cls-34,
.cls-35,
.cls-36,
.cls-37,
.cls-38,
.cls-40,
.cls-6 {
  stroke: #798f9b;
}
.cls-7 {
  font-size: 23px;
  font-family: AvenirNext-Medium, Avenir Next;
  font-weight: 500;
}
.cls-8 {
  letter-spacing: -0.01em;
}
.cls-9 {
  letter-spacing: -0.01em;
}
.cls-10 {
  letter-spacing: -0.02em;
}
.cls-11 {
  letter-spacing: -0.01em;
}
.cls-12,
.cls-13 {
  fill: #e4e4e6;
}
.cls-13 {
  font-size: 25px;
  font-family: Avenir-Book, Avenir;
}
.cls-14 {
  letter-spacing: -0.02em;
}
.cls-15 {
  letter-spacing: -0.13em;
}
.cls-16 {
  font-size: 21px;
}
.cls-17 {
  letter-spacing: -0.09em;
}
.cls-18 {
  fill: #7a8e99;
}
.cls-19 {
  stroke: #7a8e99;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.cls-20,
.cls-24 {
  font-size: 20px;
}
.cls-20,
.cls-24,
.cls-26,
.cls-45 {
  fill: #c2cfd3;
}
.cls-20,
.cls-26 {
  font-family: MyriadPro-Regular, Myriad Pro;
}
.cls-21 {
  letter-spacing: -0.01em;
}
.cls-22 {
  letter-spacing: -0.01em;
}
.cls-23 {
  fill: #132631;
}
.cls-24 {
  font-family: MyriadPro-Bold, Myriad Pro;
  font-weight: 700;
}
.cls-25 {
  opacity: 0.8;
}
.cls-26 {
  font-size: 13px;
}
.cls-28,
.cls-29,
.cls-30,
.cls-31,
.cls-32,
.cls-33,
.cls-34,
.cls-35,
.cls-36,
.cls-37,
.cls-38 {
  stroke-width: 5px;
}
.cls-29 {
  stroke-dasharray: 1 24.11;
}
.cls-30 {
  stroke-dasharray: 1.06 25.44;
}
.cls-31 {
  stroke-dasharray: 1.05 25.27;
}
.cls-32 {
  stroke-dasharray: 1.03 24.73;
}
.cls-33 {
  stroke-dasharray: 1.01 24.32;
}
.cls-34 {
  stroke-dasharray: 1.05 25.13;
}
.cls-35 {
  stroke-dasharray: 1 24.1;
}
.cls-36 {
  stroke-dasharray: 1.04 24.86;
}
.cls-37 {
  stroke-dasharray: 1.04 25.04;
}
.cls-38 {
  stroke-dasharray: 1.04 25.03;
}
.cls-39 {
  opacity: 0.3;
}
.cls-40 {
  stroke-width: 3px;
  stroke-dasharray: 1 8;
}
.cls-41,
.cls-44 {
  opacity: 0.4;
}
.cls-42 {
  clip-path: url(#clip-path);
}
.cls-43,
.cls-44 {
  fill: #334f5f;
}
.cls-46,
.cls-48 {
  fill: #d1e6eb;
}
.cls-46 {
  stroke: #fff;
  stroke-width: 0.25px;
}
.cls-47 {
  stroke: #d1e6eb;
  stroke-dasharray: 8 4;
}