.dropDownClassName {
  /* background-color: inherit; */
  border-color: var(--secondary-font-dimmed-color);
  /* border: 1px solid var(--secondary-font-dimmed-color); */
  /* color: inherit; */
  /* width: 20ch; */
}

.dropDownPlaceHolderClassName {
  color: var(--secondary-font-color);
}

/* .dropDownControlClassName:hover {
  border: 1px solid var(--secondary-font-color);
} */


.dropDownControlClassName {
  background-color: var(--second-secondary-background-color);
  border: inherit;
  color: var(--base-font-color);
  text-align: left;
  height: 2.4em;
}

.dropDownControlClassName :global(.is-open) {
  border: 1px solid var(--secondary-font-color) !important;
}

.small {
  padding-left: 0.4em;
  padding-right: 0.3em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.dropDownMenuClassName {
  background-color: var(--second-secondary-background-color);
  border: 1px solid var(--secondary-font-color);
  border-radius: 3px;
  color: var(--base-font-color);
}

.dropDownMenuClassName :global(.Dropdown-option) {
  color: var(--base-font-color);
}

.dropDownMenuClassName :global(.Dropdown-option):hover {
  background: var(--default-background-color);
  color: var(--base-font-color);
}

.dropDownMenuClassName :global(.is-selected) {
  background: var(--default-background-color);
  font-weight: bold;
  color: var(--highlighted-font-color);
}

.arrowClassName {
  border-color: var(--secondary-font-dimmed-color) transparent transparent;
  /* color: inherit; */
}
