.dropDownClassName {
  background-color: inherit;
  border-color: var(--secondary-font-dimmed-color);
  color: inherit;
  /* width: 20ch; */
}

.dropDownControlClassName {
  background-color: var(--second-secondary-background-color);
  border-color: inherit;
  color: var(--base-font-color);
  text-align: left;
}

.small {
  padding-left: 0.4em;
  padding-right: 0.3em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.dropDownMenuClassName {
  background-color: var(--second-secondary-background-color);
  border: 1px solid;
  border-color: inherit;
  color: var(--base-font-color);
}

.dropDownMenuClassName :global(.Dropdown-option) {
  color: var(--base-font-color);
}

.dropDownMenuClassName :global(.Dropdown-option):hover {
  background: var(--second-tertiary-background-color);
  color: var(--base-font-color);
}

.dropDownMenuClassName :global(.is-selected) {
  background: var(--second-tertiary-background-color);
  color: var(--highlighted-font-color);
}
.arrowClassName {
  border-color: var(--secondary-font-dimmed-color) transparent transparent;
  color: inherit;
}
