.cameraContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.statesContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.stateContainer {
  display: inline-grid;
  grid-template-columns: 10em 8em;
  grid-row-gap: 0.5em;
  grid-column-gap: 1em;
  align-items: center;
  padding: 1em 2em;
}

.imageSequenceName {
  font-size: var(--font-size-larger);
  color: var(--base-font-color);
  text-align: left;
  padding-bottom: 0.25em;
}

.imageDetailsCell {
  text-align: left;
}

.statusTextLabel {
  text-align: left;
}

.exposureTime {
  text-align: center;
  padding-top: 0.1em;
  display: block;
}

.readoutParameters {
  display: grid;
  grid-template-columns: max-content 8em;
  grid-row-gap: 0.5em;
  grid-column-gap: 1em;
}

.readoutParametersTitle {
  color: var(--base-font-color);
  font-size: var(--font-size-large);
}

.readoutParameterKey {
}

.readoutParameterValue {
  color: var(--base-font-color);
}

.statusColumn {
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.backgroundLoadingBarClass {
  background: var(--base-background-color);
}

.imageTableWrapper {
  height: calc(100% - 40px);
  /* background: var(--base-background-color); */
  min-width: 750px;
}

.imageTable {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  height: calc(100% - 60px);
}

.imageTable thead {
  display: table;
  table-layout: fixed;
  width: calc(100% - var(--scrollbar-width));
  word-wrap: break-word;
}
.imageTable tbody {
  display: block;
  /* height: inherit; necessary for scroll */
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom: 1px solid var(--base-background-color);
  max-height: 400px;
}
.imageTable tbody tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.imageTable th,
td {
  width: auto;
}

.imageTable th {
  border: 1px solid var(--base-background-color);
  background: var(--tertiary-background-color);
  padding: 0em 0.5em;
  padding-right: 20px;
  text-align: left;
  font-size: var(--font-size-large);
}

.imageTable .narrowCol {
  width: 120px;
  padding-bottom: 0;
}

.imageTable .mediumCol {
  width: 185px;
}

.imageTable .wideCol {
  width: 30%;
}

.imageTable tr:hover.dataRow {
  background: var(--tertiary-background-color);
}

.imageTable tr:hover td {
  /* border-bottom: 1px solid var(--secondary-background-color);
  border-top: 1px solid var(--secondary-background-color); */
}

.imageTable tr:hover.expandedRow td {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.imageTable tr:nth-child(even):not(.selectedRow) {
  background: var(--secondary-background-dimmed-color);
}

.imageTable tr:nth-child(odd):not(.selectedRow) {
  background: var(--secondary-background-color);
}

.imageTable th:first-of-type {
  border-top-left-radius: 7px;
}

.imageTable th:last-of-type {
  border-top-right-radius: 7px;
}

.imageTable td {
  color: var(--secondary-font-color);
  padding: 0.4em 1em;
  word-wrap: break-word;
  max-width: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid var(--base-background-color);
  border-right: 1px solid var(--base-background-color);
}

.imageTable td.string {
  text-align: left;
}

.imageTable td.number {
  text-align: right;
}

.imageTable .valueCell {
  padding: 0.4em 0.5em;
  word-wrap: break-word;
  word-wrap: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}

.imageTable td input {
  min-width: 10px;
}

.imageTable tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 7px;
}

.imageTable tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 7px;
}

.imageTable .imageStatusWrapper {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  min-width: 13em;
}

.imageTable .selectedRow {
  background: var(--base-background-color);
  border-bottom: 2px solid var(--base-background-color);
}

.imageTable .gearIconWrapper {
  width: 1.5em;
  min-width: 1em;
  cursor: pointer;
  padding-right: 0.3em;
  margin: auto;
}

.imageTable .statusTextWrapper {
  flex-grow: 1;
  padding: 0em 1.5em;
  /* margin-right: 2em; */
}

@media (min-width: 1020px) {
  .stateContainer {
    grid-template-columns: max-content 8em;
  }
}
