.arrowIcon {
    display: inline-block;
    max-height:100%;
    stroke-miterlimit:10;stroke-width:2px;
    vertical-align: middle;
}

.active {
    fill: var(--secondary-font-color);
}

.inactive {
    fill: var(--secondary-font-dimmed-color);
}