.svgContainer {
  height: 100vh;
  width: 100%;
}

.cls1 {
  fill: #788f9b;
}

.cls1,
.cls2 {
  font-family: Montserrat-Regular, Montserrat;
  font-size: 14.11px;
}

.cls3 {
  letter-spacing: -0.01em;
}

.cls4 {
  letter-spacing: -0.02em;
}

.cls5 {
  letter-spacing: -0.01em;
}

.cls6 {
  fill: url(#gradTs3Ts4);
}

.cls7 {
  letter-spacing: 0em;
}

.cls8 {
  letter-spacing: 0em;
}

.cls9 {
  letter-spacing: 0em;
}

.cls10 {
  fill: #152f3b;
}

.cls11 {
  letter-spacing: 0em;
}

.cls12 {
  letter-spacing: -0.01em;
}

.cls13 {
  letter-spacing: 0.01em;
}

.cls2 {
  fill: #fff;
  isolation: isolate;
}

.cls14 {
  letter-spacing: -0.01em;
}

.cls15 {
  letter-spacing: -0.06em;
}

.cls16 {
  letter-spacing: 0em;
}

.cls17 {
  letter-spacing: 0em;
}

.cls18,
.cls19 {
  stroke-width: 7px;
}

.cls18,
.cls19,
.cls20 {
  stroke: #152f3b;
  stroke-miterlimit: 10;
}

.cls18,
.cls20 {
  fill: #0c171e;
}

.cls21 {
  letter-spacing: 0em;
}

.cls22 {
  fill: url(#gradTs8Ts6);
}

.cls23 {
  fill: url(#gradTs7Ts2);
}

.cls24 {
  fill: url(#gradTs5Ts7);
}

.cls25 {
  fill: url(#gradTs2Ts3);
}

.cls26 {
  fill: url(#gradTs6Chill);
}

.cls27 {
  fill: url(#gradTs4Ts8);
}

.cls28 {
  fill: url(#gradChillTs5);
}

.cls29 {
  letter-spacing: 0em;
}

.cls30 {
  letter-spacing: -0.01em;
}

.cls31 {
  letter-spacing: -0.05em;
}

.cls20 {
  opacity: 0.85;
  stroke-width: 10px;
}

.cls32 {
  letter-spacing: -0.01em;
}

.cls33 {
  letter-spacing: 0em;
}

.cls34 {
  letter-spacing: 0em;
}

.cls35 {
  letter-spacing: -0.02em;
}

.cls36 {
  letter-spacing: 0em;
}
