.container {
  border-radius: 0.5em;
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.leftDivs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summaryPanel1 {
  display: flex;
  padding: 20px;
  width: 100%;
  background: #101f27 !important;
}

.summaryPanel2 {
  display: contents;
  padding: 20px;
  width: 100%;
  background-color: var(--second-secondary-background-color) !important;
  /* background: var(--second-quaternary-background-dimmed-color) !important; */
}

.summaryTable .title {
  white-space: nowrap !important;
}

.headersLeft {
  margin-left: -1em;
}

.headersCenter {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.headersRigth {
  display: contents;
}

.gearIcon {
  width: 10%;
  padding-left: 1em;
}

.gearIcon:hover {
  cursor: pointer;
}

.nightDiv {
  display: flex;
  width: 20%;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.dayDiv {
  display: flex;
  width: 15%;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.iconStars {
  width: 25%;
}

.iconSun {
  width: 15%;
}
.cmdOptions{
  position: relative;
}

.cmdDiv{
  width: 10em;
  background-color: var(--second-quaternary-background-color);
  display: grid;
  align-content: stretch;
  justify-items: flex-start;
  position: absolute; 
  top: -3%;
  left: 6em;
  padding-left: 1em;
  transition: height 0.7s ease; /** I don't know if there is a difference using this style or not*/
}

.cmOptionsDiv{
  display: flex;
}

.schedulerConfigsDiv{
  margin-top: 0.5em;
  background-color: var(--second-quaternary-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.cmdDivDetail{
  margin-top: 0.5em;
  background-color: var(--second-quaternary-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.cmdDivDetail button{
  background-color: var(--second-quaternary-background-color);
  margin-right: 5px;
}

.cmdBtn{
  width: 80%;
}

.cmdTxt{
  margin-left: 0.5em;
}