.container {
  border-radius: 0.5em;
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.leftDivs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summaryPanel1 {
  display: flex;
  padding: 20px;
  width: 100%;
  background: #101f27 !important;
}

.summaryPanel2 {
  display: contents;
  padding: 20px;
  width: 100%;
  background-color: var(--second-secondary-background-color) !important;
  /* background: var(--second-quaternary-background-dimmed-color) !important; */
}

.headersLeft {
  margin-left: -1em;
}

.headersCenter {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.headersRigth {
  display: contents;
}

.gearIcon {
  width: 8%;
  padding-left: 1em;
}

.gearIcon:hover {
  cursor: pointer;
}

.nightDiv {
  display: flex;
  width: 20%;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.dayDiv {
  display: flex;
  width: 15%;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.iconStars {
  width: 25%;
}

.iconSun {
  width: 15%;
}
