.skymapContainer {
  /* display: flex; */
  flex-wrap: wrap;
  position: relative;
  left: 25em;
  top: 2em;
  max-width: 100px;
}

.skymapGridContainer {
  /* display: flex; */
  flex-wrap: wrap;
  position: relative;
  width: fit-content;
}

.skymapGridContainer svg {
  vertical-align: top;
}

.skymapContainer h2 {
  text-align: left;
}

.infoIcon {
  position: initial;
}

.svgOverlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cartoonContainer {
  position: relative;
  overflow: visible;
}
