:root {
  --scrollbar-width: 10px;
}

.container {
  background-color: var(--second-secondary-background-color);
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 0.5em;
  padding: 1em;
  border: 1px solid var(--secondary-font-dimmed-color);
  min-height: 100px;
  font-size: 0.8em;
}

.firstRow {
  display: inline-flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 0.5em;
}

.firstRow .nameMark {
  display: inline-flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: stretch;
}

.firstRow .nameMark .input {
  min-width: 10ch;
  max-width: 50ch;
  background-color: var(--second-secondary-background-color);
  color: var(--base-font-color);
  border: 1px solid var(--secondary-font-dimmed-color);
  margin-right: 0.5em;
}

.firstRow .nameMark .select {
  width: 28ch;
}

.firstRow .button {
  margin-right: 0.5em;
}

.input::placeholder {
  color: var(--secondary-font-color);
}

.funcHeader {
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
  font-size: 12px;
}

.funcHeader p {
  margin: 0;
  margin-left: 3.5em;
}
