.CSCAuthListAdminContainer {
  background: var(--second-primary-background-color);
  border-radius: 5px;
}

.header {
  text-align: left;
  font-size: var(--font-size-larger);
  padding: 2em 1em 0.5em 1em;
}

.tableContainer {
}

.tableSelect {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em 1em;
}

.tableSelect span:first-child {
  margin-right: 1em;
}

.actionButton {
  margin-right: 0.5em;
}

.filters {
  display: flex;
  padding: 0.5em 0;
  margin-bottom: 0.5em;
}

.filters > * {
  margin-right: 0.5em;
}

.filters .label {
  display: flex;
  align-items: center;
  margin-right: 0.5em;
}

.filters input {
  line-height: 1em;
  height: 2.5em;
}

.filters .select {
  white-space: nowrap;
  flex: 0 0 200px;
}

.dateTimeContainer {
  margin-bottom: 1em;
}

.csc {
  font-weight: bold;
}

.authlistIdentity :first-child {
  background-color: gray;
  color: black;
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-align: center;
  line-height: 1em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.authlistIdentity :last-child {
  margin-left: 0.5em;
}

.modalFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.moreModal {
  display: grid;
  grid-template-columns: minmax(120px, auto) 1fr;
  column-gap: .5em;
  row-gap: .5em;
  text-align: left;
}

.moreModal :nth-child(odd) {
  font-weight: bold;
}

.moreModal .messageRow {
  height: 200px;
}

.moreModal textarea {
  height: calc(100% - 1.5em);
}

.moreModal .coloredCell {
  background: var(--tertiary-background-color);
  padding: 0.5em 0 0 0.5em;
  display: flex;
}

.confirmButtons > span {
  display: inline-block;
}

.confirmButtons > span:not(:last-child) {
  margin-right: 0.5em;
}

.infoIcon {
  width: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  position: relative;
}

.hover {
  background-color: red;
  top: 0 !important;
  left: 0 !important;
  background-color: var(--second-tertiary-background-color);
  padding: 0.5em;
  width: 160px;
  border-radius: 0.5em;
}

.borderedButton,
.borderedButton:focus {
    border: 1px solid var(--default-background-color);
}