.timeseriesControlsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  margin-top: 1.5em;
}

.gearIconContainer {
  width: 40px;
  margin: 0em 3em;
  cursor: pointer;
}

.switchContainer {
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 1em;
}

input:checked + .slider {
  background-color: #aab1b9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #aab1b9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.highlightText {
  color: white;
}

.modeSelection {
  user-select: none;
  cursor: pointer;
}

.queryInputs {
  display: flex;
  align-items: center;
}

.efdClients {
  margin-bottom: 1em;
  min-width: 180px;
}

