.title {
  color: white;
  font-weight: bold;
  text-align: left;
  font-size: 15px;
}

.returnToLogs {
  display: flex;
  padding-left: 0.5em;
  min-height: 2em;
}

.margin {
  margin-left: 3px;
  margin-right: 3px;
}

.margin10 {
  margin-left: 10px;
  margin-right: 10px;
}

.filters {
  display: flex;
  padding: 0.5em 0;
  margin-bottom: 0.5em;
}

.filters > * {
  margin-right: 0.5em;
}

.filters .label {
  display: flex;
  align-items: center;
  margin-right: 0.5em;
}

.filters input {
  line-height: 1em;
  height: 2.5em;
}

.filters .select {
  white-space: nowrap;
  flex: 0 0 200px;
}

.bold {
  font-weight: bold;
  color: var(--secondary-font-color);
}

.label {
  font-weight: bold;
  color: var(--secondary-font-color);
  text-align: left;
  margin-left: 15px;
}

.value {
  text-align: left;
  margin-left: 10px;
}

.value input {
  /* width: unset; */
}

.icon {
  fill: var(--default-font-color);
  opacity: 1;
}

.iconBtn {
  display: inline;
  border-radius: 50%;
  padding: 0.3em;
  height: 1.8em;
  width: 1.8em;
  background-color: var(--default-background-color);
}

.iconFlag {
  padding: 0.2em;
  height: 1.5em;
  width: 1.5em;
}

.returnToLogs {
  display: flex;
  padding-left: 0.5em;
  min-height: 2em;
}

.detailContainer {
  background-color: var(--second-tertiary-background-color);
  color: var(--base-font-color);
  border: 1px solid hsl(199, 43%, 16%);
  border-radius: 6px;
  /* width: 100%; */
  display: grid;
  grid-template-rows: auto minmax(180px, auto) auto;
  box-sizing: border-box;
  /* overflow: auto; */
  margin-left: 15px;
  margin-right: 15px;
}

.header {
  font-weight: bold;
  text-align: left;
  font-size: 15px;
  margin-top: 5px;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 7px;
  padding-left: 3px;
  padding-right: 3px;
  border-bottom: 2px solid var(--secondary-font-color);
  color: var(--secondary-font-color);
  min-height: 1.9em;
}

.body {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 4px;
  margin-bottom: 5px;
  display: grid;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
  margin: 3px;
}

.mb1 {
  margin-bottom: 0.5em;
}

.inline {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  row-gap: 5px;
  grid-auto-rows: auto;
}

.input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 0.4em;
  font-family: inherit;
  font-size: inherit;
  background-color: var(--second-secondary-background-color);
  border: 1px solid var(--secondary-font-dimmed-color);
  /* color: inherit; */
  color: var(--base-font-color);
}

.select {
  background-color: var(--second-secondary-background-color);
  color: var(--base-font-color);
  text-align: left;  
}

.content {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-row: auto;
}

.contentLeft {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: max-content;
  grid-row-gap: 0.5em;
  align-items: center;
  align-content: center;
}

.contentRight {
  margin: 7px;
  padding: 7px;
  margin-right: 10px;
  align-items: center;
  align-content: center;
}

.contentRight textarea {
  width: calc(100% - 2em);
  height: 12em;
  resize: none;
  background: var(--secondary-background-dimmed-color);
  color: var(--base-font-color);
  font-size: 1em;
  padding: 0.5em;
  border-radius: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 0.4em;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid var(--secondary-font-dimmed-color);
  color: var(--base-font-color);
}

.contentRight textarea:focus {
  outline: none;
  border: 1px solid var(--secondary-font-color);
}

.label {
  font-weight: bold;
  color: var(--secondary-font-color);
  text-align: left;
  margin-left: 15px;
}

.value {
  text-align: left;
  margin-left: 10px;
}

.value input {
  /* width: unset; */
}

.footer {
  display: flex;
  flex-flow: row;
  padding-top: 7px;
  border-top: 2px solid var(--secondary-font-color);
  margin: 7px;
}

.footerRight {
  margin-left: auto;
  margin-right: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkboxText {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-right: 20px;
}

.checkboxText button {
  text-align: right;
}


