.title {
  color: white;
  font-weight: bold;
  text-align: left;
  font-size: 15px;
}

.returnToLogs {
  display: flex;
  padding-left: 0.5em;
  min-height: 2em;
}

.margin {
  margin-left: 3px;
  margin-right: 3px;
}

.margin10 {
  margin-left: 10px;
  margin-right: 10px;
}

.filters {
  display: flex;
  padding: 0.5em 0;
  margin-bottom: 0.5em;
  align-items: center;
}

.filters > * {
  margin-right: 0.5em;
}

.filters .label {
  display: flex;
  align-items: center;
  margin-right: 0.5em;
}

.filters > input {
  line-height: 1em;
  height: 1.5em;
  padding: 1em;
}

.filters .select {
  white-space: nowrap;
  flex: 0 0 200px;
  border: 1px solid var(--secondary-font-dimmed-color);
}

.bold {
  font-weight: bold;
  color: var(--secondary-font-color);
}

.label {
  font-weight: bold;
  color: var(--secondary-font-color);
  text-align: left;
  margin-left: 15px;
}

.value {
  text-align: left;
  margin-left: 10px;
}

.icon {
  fill: var(--default-font-color) !important;
  opacity: 1 !important;
}

.iconBtn {
  display: inline;
  border-radius: 50%;
  padding: 0.3em;
  height: 1.8em;
  width: 1.8em;
  background-color: var(--default-background-color);
}

.iconFlag {
  padding: 0.2em;
  height: 1.5em;
  width: 1.5em;
}

.returnToLogs {
  display: flex;
  padding-left: 0.5em;
  min-height: 2em;
}

.detailContainer {
  background-color: var(--second-tertiary-background-color);
  color: var(--base-font-color);
  border: 1px solid hsl(199, 43%, 16%);
  border-radius: 6px;
  display: grid;
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
}

.detailContainerMenu {
  width: 26em;
}

.header {
  font-weight: bold;
  text-align: left;
  font-size: 15px;
  margin-top: 5px;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 7px;
  padding-left: 3px;
  padding-right: 3px;
  border-bottom: 2px solid var(--secondary-font-color);
  color: var(--secondary-font-color);
  min-height: 1.9em;
}

.headerMenu {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  row-gap: 10px;
  padding-bottom: 7px;
  margin-top: 5px;
  margin-right: 5px;
}

.body {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 4px;
  margin-bottom: 5px;
  display: grid;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
  margin: 3px;
}

.mb1 {
  margin-bottom: 0.5em;
}

.inline {
  display: inline-flex;
  align-items: baseline;
  column-gap: 10px;
}

.input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 0.4em;
  font-family: inherit;
  font-size: inherit;
  background-color: var(--second-secondary-background-color);
  border: 1px solid var(--secondary-font-dimmed-color);
  color: var(--base-font-color);
  align-self: center;
}

.select {
  background-color: var(--second-secondary-background-color);
  color: var(--base-font-color);
  text-align: left;
  border-radius: 3px;
  width: 100%;
  border-radius: 0.2em;
}

.content {
  display: flow-root;
  padding-right: var(--content-padding);
  padding-left: var(--content-padding);
}

.contentMenu {
  flex-wrap: wrap;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.contentLeft {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: max-content;
  grid-row-gap: 0.5em;
  align-items: center;
  align-content: center;
}

.contentRight {
  margin: var(--content-padding) 0 0 var(--content-padding);
  align-items: center;
  align-content: center;
}

.content textarea {
  width: 100%;
  height: 8em;
  resize: none;
  background: var(--secondary-background-dimmed-color);
  color: var(--base-font-color);
  font-size: 1em;
  border-radius: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 0.4em;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid var(--secondary-font-dimmed-color);
  color: var(--base-font-color);
}

.content textarea:focus {
  outline: none;
  border: 1px solid var(--secondary-font-color);
}

.contentMenu textarea {
  width: 100%;
  height: 8em;
  resize: none;
  background: var(--secondary-background-dimmed-color);
  color: var(--base-font-color);
  font-size: 1em;
  border-radius: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 0.4em;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid var(--secondary-font-dimmed-color);
  color: var(--base-font-color);
}

.contentMenu textarea:focus {
  outline: none;
  border: 1px solid var(--secondary-font-color);
}

.label {
  font-weight: bold;
  color: var(--secondary-font-color);
  text-align: left;
  margin-left: 15px;
}

.value {
  text-align: left;
  margin-left: 10px;
}

.footer {
  display: flex;
  flex-flow: row;
  flex-direction: row;
  padding-top: var(--content-padding);
  margin: var(--small-padding) var(--content-padding);
  border-top: 2px solid var(--secondary-font-color);
}

.footerMenu {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  row-gap: 10px;
  padding-top: var(--content-padding);
  margin: var(--small-padding) var(--content-padding);
  border-top: 2px solid var(--secondary-font-color);
}

.footerRight {
  margin-left: auto;
}

.footerRightMenu {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: end;
}

.checkboxText {
  display: flex;
  margin-right: 5px;
  align-items: center;
  flex-wrap: wrap;
}

.checkboxText > * {
  margin-right: 0.5em;
}

.checkboxText > input:first-of-type {
  width: auto;
}

.checkboxText > button {
  text-align: right;
}

.paddingTop {
  padding-top: 5px;
}

.w50 {
  width: 50%;
}

.w30 {
  width: 30%;
}

.w20 {
  width: 20%;
}

.header.inline .value {
  width: 15em;
  padding-bottom: 5px;
}

.rangeDateOnly {
  width: 11ch;
}

th.tableHead {
  color: var(--highlighted-font-color);
  padding: var(--small-padding);
  font-weight: bold;
}

.iconCSV {
  float: right;
  display: inline;
  border-radius: 50%;
  padding: 0.3em;
  height: 1.1em;
  width: 1.1em;
  background-color: var(--second-quaternary-background-color);
  fill: var(--default-font-color) !important;
  opacity: 1 !important;
}

.divExportBtn {
  margin-left: auto;
}

.infoIcon {
  position: relative;
}

.hover {
  color: var(--secondary-font-color);
  top: 36px !important;
  left: -8px !important;
  background-color: var(--second-quaternary-background-color);
  padding: 0.5em;
  width: 160px;
  border-radius: 0.5em;
}

:global(.option.highlight),
:global(li.option:hover) {
  background-color: var(--second-senary-background-dimmed-color);
}

.modalFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.capitalize {
  text-transform: capitalize;
}

.iconFlag {
  padding: 0.1em;
  height: 1.5em;
  width: 1.5em;
}

.margin3 {
  margin: 3px;
}

.badge {
  border-radius: 50%;
  background-color: var(--second-quaternary-background-color);
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  margin-right: var(--content-padding);
}

.flags {
  display: flex;
  align-items: center;
}

.spinnerIcon {
  height: var(--font-size-small);
  width: var(--font-size-small);
}

.refreshDataBtn {
  height: 2.4em;
}

.footer .attachedFiles,
.footer .toAttachFiles,
.footer .flag,
.footerMenu .attachedFiles,
.footerMenu .toAttachFiles,
.footerMenu .flag {
  text-align: left;
  margin-bottom: var(--small-padding);
}

.footer .attachedFiles {
  display: grid;
  grid-template-columns: minmax(7em, max-content) 1fr;
  column-gap: var(--small-padding);
}

.buttonWraper {
  display: inline-block;
  margin: 0 0.25em 0.25em 0;
}

.footer .attachedFiles .fileButton {
  display: flex;
  align-items: center;
}

.footer .attachedFiles .fileButton > .downloadIcon {
  width: 1em;
  height: auto;
  margin-right: 0.25em;
  fill: var(--default-active-font-color);
}

.footer .attachedFiles .label {
  margin-left: 0;
}

.footer .flag,
.footerMenu .flag,
.footer .jira,
.footerMenu .jira {
  display: flex;
  align-items: center;
  gap: var(--small-padding);
  white-space: nowrap;
}

.footer .flag .label,
.footerMenu .flag .label,
.footer .jira .label,
.footerMenu .jira .label {
  margin-left: 0;
}

.footer .flag :nth-child(2),
.footerMenu .flag :nth-child(2),
.footer .jira :nth-child(4),
.footerMenu .jira :nth-child(4) {
  flex-grow: 1;
}
