.container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.containerFlexRow {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.containerFlexCol{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* max-height: 500px; */
}

.bottomLegend {
  flex-direction: column;
}

.plot {
  margin-right: 1rem;
}

.marginLegend {
  margin-left: 4rem;
  /* margin-bottom: 2rem; */
}
