.container {
  display: grid;
  grid-template-rows: 1fr min-content;
  overflow: auto;
}

.content {
  overflow-y: auto;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 1em 1em 0 1em;
  height: 2em;
}

.modal {
  left: 33%;
  top: 20%;
  width: 30em;
  height: 10em;
}

.button {
  min-width: 20ch;
  margin-right: 1em;
}