.windRoseContainer {
  position: absolute;
  left: 3%;
  top: 7%;
  width: 4%;
}

.iconLeft {
  position: absolute;
  left: 17%;
  top: 22%;
  width: 4%;
}

.iconCenter {
  position: absolute;
  left: 50%;
  top: 0;
  width: 4%;
  margin-top: 335px;
}

.iconRight {
  position: absolute;
  right: 17%;
  top: 18%;
  width: 3%;
}

.telescopes {
  position: relative;
}

.skymap {
  position: absolute;
  top: 0;
  left: 40%;
}

.simonyi {
  position: absolute;
  top: 0;
  left: 0;
  width: 66%;
  z-index: 2;
  margin-top: 200px;
}

.auxTel {
  position: absolute;
  top: 10;
  right: 0;
  width: 40%;
  z-index: 1;
  margin-top: 200px;
}
