.windRoseContainer {
  position: absolute;
  left: 3%;
  top: 7%;
  width: 4%;
}

.iconLeft {
  position: absolute;
  left: 17%;
  top: 17%;
  width: 4%;
}

.iconCenter {
  position: absolute;
  left: 50%;
  top: 0;
  width: 4%;
  margin-top: 358px;
}

.iconRight {
  position: absolute;
  right: 17%;
  top: 15%;
  width: 3%;
}

.telescopes {
  position: relative;
  padding: 20px;
  top: 43px;
}

.skymap {
  position: absolute;
  top: 0;
  left: 35%;
}

.simonyi {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 66%;
  z-index: 2;
  margin-top: 200px;
}

.auxTel {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  z-index: 1;
  margin-top: 200px;
}
