.container {
  position: relative;
  box-sizing: border-box;
  height: 100%;
}

.plotsContainer {
  display: grid;
  height: calc(100%);
  width: calc(100%);
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-template-rows: repeat(3, 200px);
  gap: 1em;
  overflow: hidden;
  border: 1px solid gray;
}

.plot {
  width: 100%;
  overflow: hidden;
}
