.grid {
  display: grid;
  column-gap: 1rem;
  justify-content: start;
  align-content: start
}

.autoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: min-content;
  line-height: 0px;
  font-size: 8pt;
  column-gap: 0.5em;
  justify-content: start;
  align-content: start;
}

.cell {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 0.2em;
  align-items: center;
  color: var(--base-font-color);
}
