.container {
}

.ccdsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  height: 100%;
}

.rebsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.plot {
  width: 100%;
  overflow: hidden;
}
