.statusTextWrapper {
  text-align: center;
}

.telemetryValue {
  color: var(--base-font-color);
  min-width: 2em;
  display: inline-block;
  text-align: right;
}

.statusGroupWrapper {
  display: inline-grid;
  grid-template-columns: max-content 8em;
  grid-row-gap: 0.5em;
  grid-column-gap: 1em;
  align-items: center;
}

.arrow {
  color: var(--base-font-color);
  font-size: 2.0em;
  animation: blinker 2.5s linear infinite;
  line-height: 0;
  vertical-align: baseline;
  width: 0.5em;
  padding: 0 0.2em;
  display: inline-block;
  text-align: center;
}

@keyframes blinker {
  30% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  80% {
    opacity: 1;
  }
}