.container {
    background-color: var(--quaternary-background-color);
    border-radius: 0.5em;
    box-sizing: border-box;
    width: 100%;
}

.headers{
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.currentTarget{
    margin-left: 1em;
}

.spanRigth{
    margin-right: 1em;
}

.separator {
    border-top: 2px solid gray;
    padding: 1em 0;
    overflow: hidden;
}

.summaryPanel {
    background-color: var(--quaternary-background-color);
}

.currentTargetDiv {
    grid-template-columns: 0.5fr 0.5fr !important;
    display: grid !important;
    width: 100%;
}
.proposals {
    display: grid;
    justify-content: center;
    overflow: auto;
}

.generalDiv {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    display: flex;
    /* grid-template-rows: 1fr 1fr; */
}

.surveysDivs {
    background-color: var(--quinary-background-color);
    border: 1px solid var(--tertiary-background-color);
    padding: 1em;
    margin: 0.5em;
    width: 60%;
    height: 15%;
}