.container {
}

.backgroundBar {
  stroke: var(--second-quaternary-background-color);
}

.warningBar {
  stroke: var(--status-warning-dimmed-color-2);
}

.activeWarning {
  animation: warning 0.5s infinite;
  animation-direction: alternate;
  transition: stroke ease-in-out;
}

@keyframes warning {
  from {
    stroke: var(--status-warning-dimmed-color-2);
  }
  to {
    stroke: var(--status-warning-dimmed-color);
  }
}

.currentValue {
  fill: white;
  transition: x 0.5s ease;
}

.targetValue {
  stroke: white;
  stroke-width: 1;
  stroke-dasharray: 1.3;
  stroke-opacity: 0.5;
}

.text {
  fill: var(--secondary-font-color);
  font-size: 0.3em;
  text-anchor: middle;
  transition: x 0.5s ease;
}

.top {
  dominant-baseline: text-after-edge;
}

.bottom {
  dominant-baseline: text-before-edge;
}
