.expandedColumn {
  display: grid;
  grid-template-columns: minmax(30em, min-content) minmax(30em, min-content);
  column-gap: 2em;
}

.title {
  font-weight: bold;
  color: var(--base-font-color);
}

.expandedColumn p {
  margin-top: 0.2em;
  width: 100%;
  word-break: break-all;
  white-space: normal;
}

.dropDownClassName {
  background-color: inherit;
  border-color: inherit;
  color: inherit;
  width: 20em;
}

.dropDownControlClassName {
  background-color: inherit;
  border-color: inherit;
  color: inherit;
}

.dropDownMenuClassName {
  background-color: var(--second-tertiary-background-color);
  border-color: var(--tertiary-background-color);
  color: var(--base-font-color);
}
