
.finishedScriptContainer {
  padding: 0.5em;
  cursor: pointer;
  user-select: none;
}

.estimatedTimeLabel {
}

.estimatedTimeValue {
}

.timeContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em;
}

.estimatedTimeContainer {
  display: inline-block;
  min-width: 10em;
  font-size: var(--font-size-small);
}

.elapsedTimeContainer {
  display: inline-block;
  padding-right: 0.5em;
  font-size: var(--font-size-small);
}

.topContainer {
  display: flex;
  justify-content: space-between;
}