.cls1 {
    fill: #c1ced2;
    font-size: 8.07px;
    font-weight: 700;
}

.cls2 {
    letter-spacing: 0em;
}

.cls3 {
    fill: #af3222;
    stroke: #af3222;
    stroke-miterlimit: 10;
    stroke-width: 3px;
}
