.scriptQueueContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    'current current current current global global'
    'body body body body body body';
  color: var(--second-base-font-color);
  min-width: 1050px;
  max-width: 1900px;
  height: 100%;
  min-height: 450px;
  position: relative;
}

.embedded {
  width: calc(100vw - 5em);
  max-width: 1300px;
}

.listsBody {
  grid-area: body;
  display: flex;
  overflow: hidden;
  padding-bottom: 0.5em;
}

.currentScriptTitle {
  font-size: var(--font-size-large);
  font-weight: bold;
}

.listTitleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5em;
}

.listTitle {
  display: block;
  font-size: var(--font-size-large);
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.listSubtitle {
  display: block;
  padding-bottom: 0.5em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.currentScriptContainerWrapper {
  height: 100%;
  padding: 0em 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid var(--second-tertiary-background-color);
}

.currentScriptContainer {
  grid-area: current;
  text-align: left;
  padding: 0.5em 0.5em;
}

.currentScriptWrapper {
  grid-area: current;
  text-align: left;
  border-bottom: 1px solid var(--second-tertiary-background-color);
  padding-bottom: 1em;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.globalStateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5em;
}

.globalStateWrapper {
  grid-area: global;
  border-bottom: 1px solid var(--second-tertiary-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.stateContainer {
  width: 8em;
  padding: 0.5em;
}

.scriptList {
  display: grid;
  grid-template-rows: min-content 1fr;
  padding: 0.5em;
  margin: 0 0.5em;
  text-align: left;
  flex-grow: 1;
  flex-basis: 100%;
  transition: all 500ms ease-in-out;
  background: var(--second-primary-background-color);
  height: 100%;
}

.waitingScriptList {
  overflow-y: hidden;
  position: relative;
}

.waitingScriptListDragging * {
  pointer-events: none;
}

.finishedScriptList {
  overflow-y: hidden;
  display: flex;
  align-items: stretch;
}

.availableScriptList {
  overflow-y: hidden;
  display: flex;
  align-items: stretch;
}

.addScriptContainer {
  align-self: baseline;
  padding: 0 0.5em;
}

.addScriptButton {
  background: var(--quaternary-background-color);
  font-size: var(--font-size-large);
  white-space: normal;
}

.threeColumns .availableScriptList {
  flex-basis: 50%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.collapsedScriptListLabelWrapper {
  position: absolute;
  display: flex;
  height: 100%;
  background: var(--second-secondary-background-color);
  cursor: pointer;
  opacity: 1;
  z-index: 0;
}

.collapsedScriptListLabel {
  font-size: 2.8em;
  white-space: nowrap;
  align-self: center;
}

.collapsableScriptList {
  flex-basis: 100%;
  position: relative;
  transition: all 300ms ease-in-out;
}

.collapsableScriptListContent {
  display: grid;
  grid-template-rows: min-content 1fr;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: left 300ms ease-in-out;
  background: var(--second-primary-background-color);
}

.collapsedScriptList {
  flex-basis: 50px;
  flex-shrink: 0;
  overflow: hidden;
}

.collapsedScriptList .collapsableScriptListContent {
  left: 50px;
}

.collapseScriptListButton {
  font-size: 2.5em;
  align-self: center;
  cursor: pointer;
}

.collapsedScriptList .collapsedScriptListLabelWrapper {
  opacity: 1;
}

.pauseIconContainer {
  display: flex;
  align-items: center;
  padding: 0.25em 0.5em;
  cursor: pointer;
  border: 1px solid transparent;
}

.pauseIconContainer:hover {
  border: 1px solid var(--second-quaternary-background-color);
}

.pauseIconContainer > span {
  padding-right: 0.5em;
}

.pauseIconWrapper {
  width: 1em;
  background: var(--commandable-background);
  padding: 0.25em 0.5em;
  border-radius: 1em;
}

.standardExternalContainer {
  display: grid;
  height: 100%;
  grid-template-rows: min-content minmax(0, min-content) min-content min-content minmax(0, min-content);
  max-height: 100%;
}

.standardExternalContainer div {
  overflow: auto;
}

.standardExternalContainer .availableScriptTypeSeparator {
  border-bottom: 1px solid var(--second-quaternary-background-color);
  padding-top: 1em;
  transform: translateY(-0.5em);
}

.standardExternalContainer .availableScriptTypeTitle {
  display: grid;
  grid-template-columns: 1fr 1.3em;
  padding: 1em 0;
}

.externalScriptsContainer, .standardScriptsContainer {
  max-height: 100%;
  transition: max-height 0.2s;
  padding-right: 0.5em;
  will-change: transform;
}

.standardExternalContainer .availableListCollapsed {
  max-height: 0;
}

.availableScriptsInput {
  line-height: 1em;
  height: 1em;
}