.scriptQueueContainer {
  width: 60vw;
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 6fr;
  grid-template-areas:
    'current current current current global global'
    'body body body body body body';
  color: var(--second-base-font-color);
}

.listsBody {
  grid-area: body;
  display: flex;
  overflow: hidden;
}

.currentScriptTitle {
  font-size: var(--font-size-large);
  font-weight: bold;
}

.listTitle {
  display: block;
  font-size: var(--font-size-large);
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.listSubtitle {
  display: block;
  padding-bottom: 0.5em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.currentScriptContainer {
  grid-area: current;
  text-align: left;
  border-right: 1px solid var(--second-tertiary-background-color);
  padding: 0.5em 0.5em;
}

.currentScriptWrapper {
  grid-area: current;
  text-align: left;
  border-bottom: 1px solid var(--second-tertiary-background-color);
  padding-bottom: 1em;
}

.globalStateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5em;
}

.globalStateWrapper {
  grid-area: global;
  border-bottom: 1px solid var(--second-tertiary-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.stateContainer {
  width: 8em;
  padding: 0.5em;
}

.scriptList {
  padding: 0.5em;
  margin: 0.5em;
  text-align: left;
  flex-grow: 1;
  flex-basis: 50%;
  transition: all 500ms ease-in-out;
  padding-bottom: 1.5em;
}

.waitingScriptList {
  overflow-y: hidden;
  position:relative;
}

.waitingScriptListDragging * {pointer-events: none;}

.finishedScriptList {
  overflow-y: hidden;
}

.availableScriptList {
  flex-basis: 0px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
}

.addScriptContainer {
  display: flex;
  justify-content: center;
  color: var(--highlighted-font-color);
}

.addScriptButton {
  color: var(--highlighted-font-color);
  background: var(--quaternary-background-color);
}

.threeColumns .availableScriptList {
  flex-basis: 50%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
