.status {
    padding: 0.2em 0.5em;
    text-transform: uppercase;
    display: block;
}

.ok {
    color: var(--status-ok-color);
    background: var(--status-ok-dimmed-color);
    border-left: 3px solid var(--status-ok-color);
    border-right: 3px solid var(--status-ok-color);
}

.warning {
    color: var(--status-warning-color);
    background: var(--status-warning-dimmed-color);
    border-left: 3px solid var(--status-warning-color);
    border-right: 3px solid var(--status-warning-color);
}

.alert {
    color: var(--status-alert-color);
    background: var(--status-alert-dimmed-color);
    border-left: 3px solid var(--status-alert-color);
    border-right: 3px solid var(--status-alert-color);
}