.CSCDetailContainer{
  display: flex;
  background: var(--second-quaternary-background-color);
  align-items: center;
  align-items: stretch;
  align-content: center;
  color: var(--base-font-color);
  font-weight: bold;
  font-size: var(--font-size-small);
  border-radius: 4px;
  width: 13.5em;
  cursor: pointer;
}

.leftSection {
  align-self:stretch;
  display:flex;
  align-items:center;
  font-weight: bold;
  font-size: var(--font-size-large);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.middleSection {
  padding: 0.35em 0.5em;
  align-items: center;
  text-align: left;
  border-radius: 4px;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rightSection {
  padding-right: 0.3em;
  align-self:stretch;
  display:flex;
  align-items:center;
  border-radius: 4px;
}

.summaryState {
  min-width: 1.5em;
  user-select: none;
  text-align: center;
}

.heartbeatIconWrapper {
  width: 1.6em;
}

.heartbeatIconWrapper > svg{
  vertical-align: top;
}

.alert {
  background: var(--status-alert-color);
  color: var(--second-tertiary-background-color);
}

.ok {
  background: var(--status-ok-color);
  color: var(--second-tertiary-background-color);
}

.disabled {
  background: var(--status-disabled-dimmed-color-2);
  color: var(--second-quinary-background-color);
}

.warning {
  background: var(--status-warning-color);
  color: var(--second-tertiary-background-color);
}