.scriptContainer {
  display: grid;
  grid-template-columns: minmax(1px, 1fr) min-content;
  position: relative;
  background: var(--second-tertiary-background-color);
  border-radius: 5px;
  overflow: hidden;
  padding: 1px;
}

.mainScriptButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: var(--second-quaternary-background-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  user-select: none;
  border: 1px solid var(--second-quaternary-background-color);
}

.mainScriptButton:hover {
  border: 1px solid var(--second-quinary-background-color);
}

.scriptContainerOff {
  background: transparent;
}

.pathTextContainer {
  display: block;
  text-align: left;
  font-size: var(--font-size-large);
  padding-bottom: 0.2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.pathText {
  text-align: left;
}

.bold {
  font-weight: bold;
}

.highlighted {
  color: var(--highlighted-font-color);
}

.externalText {
  color: var(--highlighted-font-color);
  font-size: var(--font-size-small);
}

.externalSeparator {
  white-space: pre;
}

.scriptStatusContainer {
  min-width: 5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  flex-grow: 1;
}

.scriptStatusContainer span {
  padding-top: 0.2em;
  margin-bottom: 0;
}

.expandedRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-top: 0;
  border-top: none;
}

.uploadButtonWrapper {
  width: 6em;
  padding: 0em 0em;
}

.uploadConfigButton {
  background: var(--quaternary-background-color);
  border: solid var(--primary-background-color) 1px;
}

.uploadButtonLabel {
  color: var(--base-font-color);
}

.uploadIcon {
  fill: var(--base-font-color);
}

.scriptStateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.processStateContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.scriptDetailsContainer {
  flex-grow: 1;
}

.heartBeatContainer {
  display: inline-block;
  align-self: flex-end;
  width: 1.5em;
  padding-right: 0.5em;
}

.scriptInfoContainer {
  display: flex;
  align-items: center;
}

.launchIconWrapper {
  width: 1.7em;
  padding: 0.3em;
}

.requeueIconWrapper {
  width: 1.3em;
  padding: 0.4em;
}

.requeueIconWrapper svg {
  vertical-align: top;
}

.launchIconWrapper svg {
  vertical-align: top;
}

.expandedSectionWrapper {
  padding: 0.5em;
}

.expandedSection {
}

.hidden {
  display: none !important;
}

.expandedSubSection {
  border-top: solid var(--quaternary-background-color) 2px;
  padding: 0.75em 0;
}

.subSectionTitle {
  color: var(--highlighted-font-color);
  font-size: var(--font-size-large);
}

.subSectionLabel {
  /* color: var(--highlighted-font-color); */
}

.subSectionValue {
  color: var(--highlighted-font-color);
}

.buttonsContainer {
  display: grid;
  grid-auto-flow: column;
  align-self: flex-end;
  padding-right: 0.15em;

}

.buttonContainer {
  padding: 0;
  border: 1px solid transparent;
  white-space: pre;
}

.buttonContainer:hover {
  background: var(--second-quaternary-background-color);
  border: 1px solid var(--second-quaternary-background-color);
}

.commandButton{
  display: grid;
  grid-template-columns: 2em 1fr;
  padding: 0em;
  text-align: left;
  align-items: center;
  user-select: none;
}

.commandButton div {
  padding: 0 0.5em;
}

div.commandButtonText {
  padding-left: 0em;
}

.compact {
  grid-template-columns: 2em 0;
}