.scriptContainer {
  position: relative;
  background: var(--second-tertiary-background-color);
  border-radius: 5px;
  overflow: hidden;
  padding: 1px;
}

.pathTextContainer {
  display: block;
  text-align: left;
  font-size: var(--font-size-large);
  padding-bottom: 0.2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.pathText {
  text-align: left;
}

.bold {
  font-weight: bold;
}

.highlighted {
  color: var(--highlighted-font-color);
}

.externalText {
  font-size: var(--font-size-small);
  color: var(--highlighted-font-color);
}

.scriptStatusContainer {
  min-width: 5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  flex-grow: 1;
}

.scriptStatusContainer span {
  padding-top: 0.2em;
  margin-bottom: 0;
}

.expandedTopRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-top: 1em;
}

.expandedTopRow p {
  margin: 0;
}

.uploadButtonWrapper {
  width: 6em;
  padding: 0em 0em;
}

.uploadConfigButton {
  background: var(--quaternary-background-color);
  border: solid var(--primary-background-color) 1px;
}

.uploadButtonLabel {
  color: var(--base-font-color);
}

.uploadIcon {
  fill: var(--base-font-color);
}

.scriptStateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.processStateContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.scriptDetailsContainer {
  flex-grow: 1;
}

.heartBeatContainer {
  align-self: flex-end;
  width: 1.5em;
}
