.container {
  position: fixed;
  top: 0;
  background: var(--second-quaternary-background-color);
  z-index: 1;
  transform: translate(-100%, 0);
  display: grid;
  grid-template-columns: 1.6em 1fr;
  padding: 0.5em;
  text-align: left;
  user-select: none;
  grid-row-gap: 0.2em;
  grid-column-gap: 0.2em;
}

.container div {
  padding: 0.05em 0.3em;
}

.row {
  display: contents;
  cursor: pointer;
}

.row:hover {
  background: var(--second-quinary-background-color);
  background: var(--commandable-background-hover);
  text-shadow:0px 0px 1px white;
}

.row:hover > div.iconWrapper {
  background: var(--commandable-background-hover);
}

div.buttonText {
  padding-left: 0em;
  white-space: pre;
  line-height: 1.5em;
}

.iconWrapper {
  background: var(--commandable-background);
  border: 1px solid var(--commandable-background);
  padding: 0.15em;
  border-radius: 100%;
}