.CSCGroupContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 1em;
  border-radius: 5px;
  /* background: #132631; svg color, slightly better contrast with background */
  background: var(--second-secondary-background-color);
  margin-bottom: 1em;
}

.CSCGroupTitle {
  position: relative;
  color: var(--base-font-color);
  font-size: var(--font-size-large);
}

.backButton {
  position: absolute;
  left: 1em;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

.separator {
  display: flex;
  justify-content: center;
  margin: 0.5em 0;
  width: 100%;
}

.separator > div {
  height: 1px;
  width: calc(100% - 1em);
  background: #798f9b33;
}

.CSCDetailsContainer {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}
