.container {
  border-radius: 0.5em;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 2em;
  margin-top: 1em;
}

.headerDiv {
  display: flex;
  margin-bottom: 1em;
  justify-content: space-between;
}

.selectSystemCoord {
  display: flex;
  /* transform: translate(80%);
    margin-left: -15em; */
}

.legend {
  /* float: left; */
  margin-bottom: 2em;
}

.circleIcon {
  width: 5%;
  fill: lightblue !important;
}

.plusIcon {
  transform: rotate(45deg);
  width: 5%;
}
