.container {
  background-color: #0F2029;
  color: white;
  height: 32px;
  width: 444px;
}

.status_square {
  background-color: gray;
  border-radius: 5px;
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 0.5s ease, box-shadow 0.5s ease;
}

.status_square:hover {
  filter: brightness(115%);
  box-shadow: 0 0 10px black;
  cursor: pointer;
}