.domeContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  overflow: auto;
}

.skymapGridContainer {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  position: relative;
  width: 70%;
  max-width: 700px;
}

.skymapGridContainer svg {
  vertical-align: top;
  margin: auto;
  height: auto;
}

.skymapContainer h2 {
  text-align: left;
}

.grid {
}

.topRow {
  display: grid;
  justify-items: center;
  row-gap: 2em;
  padding: 1em 0;
  grid-template-columns: minmax(0, 1fr) minmax(22em, 24em);
}

.svgOverlay {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 75%;
  transform: translate(-50%, -50%);
}

.svgOverlay .rotatingDome {
  transition: transform 1.5s linear;
}

.svgOverlay .currentPointing {
  transition: transform 1.5s linear;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  fill-opacity: 0.3;
  fill: var(--status-running-color);
  stroke: var(--status-running-color);
}

.svgOverlay .targetPointing {
  fill: none;
  stroke-dasharray: '4';
  stroke-opacity: '0.3';
  stroke: 'white';
}

.svgOverlay rect {
  transition: x 0.5s, width 0.5s;
}

.telemetryTable {
  display: grid;
  padding-top: 1em;
  grid-row-gap: 0.5em;
  width: 100%;
  overflow: hidden;
  grid-template-columns: minmax(350px, 1fr) minmax(350px, 1fr);
  grid-template-rows: max-content 1fr;
}

.telemetryTable h2 {
  margin-bottom: 0;
  font-size: var(--font-size-mediun);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--base-font-color);
}

.azimuthSection {
}

.azimuthValues {
  display: grid;
  grid-template-columns: max-content 8em;
  grid-row-gap: 0.5em;
  align-items: center;
  justify-content: center;
}

.windRoseContainer {
  position: absolute;
  left: 3%;
  top: 1%;
  width: 12%;
}

.vignettingDistanceContainer {
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translate(-50%, 0);
}

.vignettingDistanceContainer .value {
  color: var(--base-font-color);
}

.innerDome {
  fill: var(--second-tertiary-background-color);
  fill-opacity: 0.6;
  stroke: var(--second-primary-background-color);
  stroke-width: 2;
}

.mountTop {
  stroke: var(--default-active-background-color);
  fill: var(--second-quaternary-background-dimmed-color);
}
