.domeContainer {
  /* display: flex; */
  flex-wrap: wrap;
  position: relative;
  width: fit-content;
}

.skymapGridContainer {
  /* display: flex; */
  flex-wrap: wrap;
  position: relative;
  width: fit-content;
}

.skymapGridContainer svg {
  vertical-align:top;
}

.skymapContainer h2 {
  text-align: left;
}

.grid {
}

.svgOverlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.svgOverlay .rotatingDome {
  transition: transform 1s;  
}

.svgOverlay .currentPointing {
  transition: transform 1s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  fill-opacity: 0.1;
}

.svgOverlay .targetPointing {
}

.svgOverlay rect {
  transition: x 0.5s, width 0.5s;
}

.telemetryTable {
  padding-top: 1em;
  display: inline-grid;
  grid-template-columns: max-content 8em;
  grid-row-gap: 0.5em;
  align-items: center;
}