.colorOne,
.colorTwo {
  fill: #7a8e99;
}
.colorOne {
  fill-rule: evenodd;
}
.colorTwo {
  stroke: #7a8e99;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cls-1,
.cls-2 {
  fill: #798d99;
}

.cls-2 {
  stroke: #798d99;
  stroke-linecap: round;
  stroke-linejoin: round;
}
