.clock {
  --background: #132633;
  --marker: #798f9b;
  --strong-marker: #e6e5e7;
}


.container {
  display: inline-block;
  height: fit-content;
  width: fit-content;
}

.background {
  fill: var(--background);
}

.center {
  fill: var(--marker);
  stroke: var(--marker);
}

.marks {
  transform: translate(20px, 20px);
  stroke-width: 0.2;
  fill: none;
  stroke: var(--marker);
}

.strongMarker {
  stroke-width: 0.5;
  stroke: var(--strong-marker);
}

.number {
  font-size: 4px;
  stroke: var(--strong-marker);
  fill: var(--strong-marker);
}

.hour {
  stroke-width: 1.2;
}

.minute {
  stroke-width: 0.5;
}
