.container {
  display: inline-block;
  height: fit-content;
  width: fit-content;
}

.background {
  fill: #132633;
}

.center {
  fill: #798f9b;
  stroke: #798f9b;
}

.marks {
  transform: translate(20px, 20px);
  stroke-width: 0.2;
  fill: none;
  stroke: #798f9b;
}

.heavyMarker {
  stroke-width: 0.5;
  stroke: #e6e5e7;
}

.number {
  font-size: 4px;
  stroke: #e6e5e7;
  fill: #e6e5e7;
}

.hour {
  stroke-width: 1.2;
}

.minute {
  stroke-width: 0.5;
}
