.container {
  display: inline-block;
  height: fit-content;
  width: fit-content;
}

.background {
  fill: #132633;
}

.center {
  fill: #798f9b;
  stroke: #798f9b;
}

.markers {
  transform: translate(20px, 20px);
  stroke-width: 0.2;
  fill: none;
  stroke: #798f9b;
}

.heavyMarker {
  stroke-width: 0.5;
  stroke: #e6e5e7;
}

.number {
  font-size: 4px;
  stroke: #e6e5e7;
  fill: #e6e5e7;
}

.st1 {
  opacity: 0.6;
}

.st2 {
  fill: none;
  stroke: #798f9b;
  stroke-width: 7;
  stroke-miterlimit: 10;
  stroke-dasharray: 1.9842, 16.8661;
}

.st3 {
  fill: none;
}

.st4 {
  fill: #e6e5e7;
}

.st5 {
  font-family: 'Avenir-Medium';
}

.st6 {
  font-size: 14px;
}

.hour {
  stroke-width: 1.2;
}

.minute {
  stroke-width: 0.5;
}

.second {

}

.st10 {
  fill: #798f9b;
}
