.container {
    box-sizing: border-box;
    border: 3px solid var(--second-primary-background-color);
    border-radius: 0.5em;
    padding: 1.5em 0.5em;
    /* width: calc(50% - var(--content-padding)); */
    width: 100%;
    box-sizing: border-box;
    display: inline-grid;
    align-content: flex-start;
    background-color: var(--second-secondary-background-color);
    margin-bottom: 1.5em;
}

.summaryPanel {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    grid-template-columns: 1fr 1.2fr;
    display: contents;
}

.titles {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    margin-bottom: 2em;
}