:root {
  --scrollbar-width: 10px;
}

.title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 0.5em;
}

.container {
  overflow-x: hidden;
  overflow-y: hidden;
}

.content {
  height: 75vh;
  overflow-x: hidden;
  overflow-y: overlay;
}

.list {
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 1em;
}

.footer {
  display: inline-grid;
  grid-template-columns: minmax(14ch, 15ch) minmax(14ch, 15ch);
  grid-gap: 5%;
  justify-content: center;
  padding: 1em 0;
  height: 2em;
  width: 100%;
}
