.currentScriptContainer {
  padding: 0.5em;
  cursor: pointer;
  user-select: none;
}

.loadingBarContainer {
  padding: 0.5em 0em;
}

.estimatedTimeContainer {
  /* position: absolute; */
  text-align: left;
  font-size: var(--font-size-medium);
  bottom: 0.5em;
}

.indexContainer {
  font-size: var(--font-size-small);
}

.timeContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.estimatedTimeContainer {
  display: inline-block;
  min-width: 10em;
}

.estimatedTimeLabel {
}

.estimatedTimeValue {
}
.checkpointContainer{
  text-align:right;
}

.elapsedTimeContainer {
  display: inline-block;
  min-width: 10em;
}

.elapsedTimeLabel {
}

.elapsedTimeValue {
}

.topContainer {
  display: flex;
  justify-content: space-between;
}

.topContainerLeft {
  display: flex;
  flex-direction: column;
}

.currentScriptButtonContainer{
  margin-bottom: 0.5rem;
}
.invisible {
  visibility: hidden;
}

.filenameContainer {
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-size: var(--font-size-larger);
  padding-bottom: 0;
}

.heartbeatIcon {
  display: inline-block;
  margin: 0.2em;
  vertical-align: top;
}
