.currentScriptContainer {
  padding: 0.5em;
  cursor: pointer;
  user-select: none;
}

.loadingBarContainer {
  padding: 0.5em 0em;
}

.estimatedTimeContainer {
  /* position: absolute; */
  text-align: left;
  font-size: var(--font-size-medium);
  bottom: 0.5em;
}

.indexContainer {
  font-size: var(--font-size-small);
}

.timeContainer {
  display: flex;
  justify-content: space-between;
}

.estimatedTimeContainer {
  display: inline-block;
  min-width: 10em;
}

.estimatedTimeLabel {
}

.estimatedTimeValue {
}

.elapsedTimeContainer {
  display: inline-block;
  min-width: 10em;
}

.elapsedTimeLabel {
}

.elapsedTimeValue {
}

.topContainer {
  display: flex;
  justify-content: space-between;
}

.invisible {
  visibility: hidden;
}