.button {
    background: var(--tertiary-background-color);
	color: var(--secondary-font-color);
	border: none;
	padding: 0.25em 0.5em;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    height: 1.6em;
    display: flex;
}

.button > img, .button > svg, .button > span {
    flex-grow: 1;
    height: 1em;
}

.button > svg {
    padding-right: 0.5em;
}

.customFileInput {
    /* visibility: hidden; */
    position: absolute;
    top: 0; left: 0;
    width: 0;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
}

.uploadButton {
    height: 1.1em;
}

.customFileInput::before {
content: 'Select some files';
display: inline-block;
background: linear-gradient(top, #f9f9f9, #e3e3e3);
border: 1px solid #999;
border-radius: 3px;
padding: 5px 8px;
outline: none;
white-space: nowrap;
-webkit-user-select: none;
cursor: pointer;
text-shadow: 1px 1px #fff;
font-weight: 700;
font-size: 10pt;
}

.customFileInput:hover::before {
border-color: black;
}

.customFileInput:active::before {
background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.inputFileTrigger {
	color: var(--secondary-font-color);
	font: inherit;
	cursor: pointer;
    height: 1.1em;
    display: flex;
}