.container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: 100%;
}

.selectContainer {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
}

.select {
  cursor: pointer;
}

.commandParamsContainer {
}

.paramContainer {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0.5em;
  text-align: left;
}

.paramLabel {
  padding-left: 0.5em;
}

.checkboxParam {
  grid-template-columns: 1fr min-content;
}

.sendButtonContainer {
  padding: 1em;
}

.markdown {
  text-align: left;
}

.markdown pre {
  white-space: pre-wrap;
}

.buttonWrapper {
  padding-left: 0.5em;
  width: 1em;
}

.hidden {
  visibility: hidden;
}