:root {
  --boxesBackgroundColor: var(--tertiary-background-color);
}

.highlight {
  font-weight: bold;
  color: var(--highlighted-font-color);
}

.bigger {
  font-size: var(--font-size-larger);
}

.heatWarningBackground {
  background-color: var(--status-alert-dimmed-color-2) !important;
}

.heatWarningText {
  color: var(--status-alert-color);
}

.hvacStatusContainer {
  display: flex;
  gap: var(--content-padding);
  align-items: center;
  padding: var(--content-padding);
  background-color: var(--second-quaternary-background-dimmed-color);
  margin-bottom: var(--small-padding);
}

.hvacStatusContainer > *:not(:last-child) {
  padding-right: var(--content-padding);
  border-right: 1px solid var(--second-quaternary-background-color);
}

.summaryState {
  display: flex;
  gap: var(--content-padding);
  align-items: center;
}

.summaryContainer {
  margin-bottom: var(--small-padding);
}

.chillers {
  display: flex;
  gap: var(--content-padding);
}

.chillerInfo {
  display: flex;
  align-items: center;
  gap: var(--content-padding);
}

.devicesBoxes {
  display: flex;
  flex-wrap: wrap;
  gap: var(--small-padding);
  margin-bottom: var(--small-padding);
}

.devicesBoxes > * {
  flex: 1 0 100px;
  background-color: var(--boxesBackgroundColor);
  border-radius: 0.2em;
  padding: var(--small-padding);
}

.mapContainer {
  /* border: 1px solid red; */
  position: relative;
}

.mapContainer .deviceOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.selectedRow {
  color: var(--highlighted-font-color);
  font-weight: bold;
  background-color: var(--second-quaternary-background-dimmed-color) !important;
}

.devicesBoxes .selectDeviceButton {
  height: 1em;
  cursor: pointer;
}

.showMapButtonContainer {
  display: flex;
  padding: var(--small-padding);
  justify-content: space-between;
  background-color: var(--second-quaternary-background-dimmed-color);
  margin-bottom: var(--small-padding);
  cursor: pointer;
}

.showMapButtonContainer .hidden {
  transform: rotate(180deg);
}

.glycolTableContainer {
  margin-bottom: var(--small-padding);
}

.glycolPlotsContainer {
  display: flex;
  gap: var(--small-padding);
  flex-wrap: wrap;
  margin-bottom: var(--small-padding);
}

.glycolPlotsContainer > * {
  box-sizing: border-box;
  flex: 1 1 calc(50% - var(--small-padding) / 2);
  padding: var(--small-padding);
  border: 0.2em solid var(--second-tertiary-background-color);
  border-radius: 0.25em;
}

.glycolPlotsContainer .plot {
  height: 200px;
}

.highlightFill {
  --pulse-color-start: rgba(255, 255, 255, 0.2);
  --pulse-color-mid: rgba(255, 255, 255, 0.5);
  --pulse-color-end: rgba(255, 255, 255, 0.2);
  animation: highlightPulse 2s infinite;
}

.highlightFill.alert {
  --pulse-color-start: hsla(23, 99%, 44%, 0.2);
  --pulse-color-mid: hsla(23, 99%, 44%, 0.5);
  --pulse-color-end: hsla(23, 99%, 44%, 0.2);
}

@keyframes highlightPulse {
  0% {
    fill: var(--pulse-color-start);
  }
  50% {
    fill: var(--pulse-color-mid);
  }
  100% {
    fill: var(--pulse-color-end);
  }
}
