.status {
  padding: 0 0.3em;
  text-transform: uppercase;
  display: block;
  white-space: nowrap; 
  text-overflow: ellipsis;
  overflow: hidden;
}

.ok {
  color: var(--status-ok-color);
  /* background: var(--status-ok-dimmed-color); */
}

.warning {
  color: var(--status-warning-color);
  /* background: var(--status-warning-dimmed-color); */
}

.alert {
  color: var(--status-alert-color);
  /* background: var(--status-alert-dimmed-color); */
}

.running {
  color: var(--script-ok-color);
  /* background: var(--script-ok-dimmed-color); */
}