.container {
  display: grid;
  grid-template-areas:
    "sum sum sum sum"
    "men men men men"
    "sel sel sel mix"
    "sel sel sel tem"
    "sel sel sel inf";
}

.summaryContainer {
  grid-area: sum;
}

.menuContainer {
  grid-area: men;
  
}

.selectorContainer {
  grid-area: sel;
}

.mixingContainer {
  grid-area: mix;
  padding-top: 15px;
}

.temperatureContainer {
  grid-area: tem;
  padding-top: 15px;
}

.infoContainer {
  grid-area: inf;
  padding-top: 15px;
}

