.cls1 {
  fill: #15242d;
  stroke: #182e39;
}

.cls1,
.cls2,
.cls3,
.cls4,
.cls5 {
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

.cls2 {
  fill: #182e39;
}

.cls2,
.cls3,
.cls4 {
  stroke: #27434f;
}

.cls3 {
  fill: #27434f;
}

.cls4,
.cls5 {
  fill: none;
}

.cls5 {
  stroke: #59717c;
}

.temperature {
  fill: var(--secondary-font-color);
}

.auxtelHover {
  position: relative !important;
  overflow: visible !important;
  top: 0 !important;
  left: 0 !important;
  transform: none !important;
}

.auxtelSummary {
  position: absolute;
  top: 90px;
  left: 100px;
  width: 335px;
}
