.container {
  display: inline-block;
  height: fit-content;
  width: fit-content;
}

.time {
  color: var(--base-font-color);
  font-size: 1.8em;
  letter-spacing: 0.02em;
  line-height: 1em;
}

.date {
  font-size: 0.9em;
  white-space: nowrap;
}
