:root {
  --scrollbar-width: 10px;
}

.container {
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 1em;
  padding: 1em;
  border: 1px solid var(--secondary-font-dimmed-color);
  min-height: 100px;
}
