.datesContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.fromDateContainer {
  display: flex;
  padding: 0em 1em;
  margin-bottom: 0.5em;
}

.toDateContainer {
  display: flex;
  padding: 0em 1em;
  margin-bottom: 0.5em;
}

.toDateContainer > span {
  margin-left: 0.5em;
}

.queryButton {
  margin-bottom: 1em;
}

.datetimeDescription {
  padding: 0em 0.6em;
}

.datetimeContainer {
  /* display: flex; */
}
