.highlight {
  color: var(--base-font-color);
}

.divSummary {
  background-color: var(--second-quaternary-background-dimmed-color);
}

.summaryTable {
  align-self: center;
}

.shutters {
  display: block;
}

.divProgressBars {
  width: 90%;
  padding: 10px;
}
