.highlight {
  color: var(--base-font-color);
}

.divSummary {
  background-color: var(--second-quaternary-background-dimmed-color);
}

/* .summaryTable {
  align-self: center;
  grid-template-columns: 0.5fr 0.5fr;
  padding: 20px;
}

.summaryState {
  border-radius: 1rem;
  font-weight: 550;
  text-align: center;
  display: inline-block;
  width: 10em;
} */

.shutters {
  display: block;
}

.divProgressBars {
  width: 90%;
  padding: 10px;
}

.actualShutter {
  display: inline-flex;
}

.limits {
  width: 80%;
}
